[2012-06-11 22:41] lgarron opened #2 "WCA Release"
There a few small loose ends to clean up. I think it's okay if the program still calls itself "tnoodle", but we should have a single stable .jar that's easy to run and use.

From https://github.com/jfly/tnoodle/issues/17

[2012-06-11 22:42] lgarron opened #3 "Have a marking for official scrambles"
e.g. modify the .pdf pages to have the WCA logo and some official-looking stuff. Not critical.

From https://github.com/jfly/tnoodle/issues/20

[2012-06-11 22:43] lgarron opened #4 "Configurable clock color scheme"
From @jfly:

From https://github.com/jfly/tnoodle/issues/6

[2012-06-11 22:46] lgarron opened #5 "Random state 4x4x4"
It's feasible now: https://github.com/ChenShuang/FiveStage444

From https://github.com/jfly/tnoodle/issues/4

[2012-06-12 12:33] clementgallet opened #6 "Scrambling UI in Opera"
Visiting http://tnoodle.tk/scramble on Opera 11.64 on Windows 7 only displays the background color.
The javascript console displays:

[18/03/1970 15:40:52] JavaScript - http://tnoodle.tk/scramble/
Event thread: load
Uncaught exception: ReferenceError: Undefined variable: Request
Error thrown at line 299, column 1 in <anonymous function: tnoodle.jsonp>(callback, url, data) in http://tnoodle.tk/js/s

[2012-06-12 22:30] #6 closed, assigned to clementgallet

[2012-06-12 22:57] jfly opened #9 "Can't have rounds titled seed, showIndices, or callback"
The { roundTitle: roundDesc, ... } url parameter system just doesn't work, and should be replaced. This will involve modifying ScrambleRequest.java, tnt's tnoodleServer.js, and scramble.js.

[2012-06-12 23:26] lgarron opened #10 "Five-Stage 4x4x4 memory usage"
UPDATE (jfly 6/15/2012): This issue is meant to track the 4x4 OOM problems @lgarron has been experiencing. Everything else mentioned in this thread is now fixed.

Was going to comment on d158e98, but that seems long. Mentioning @clementgallet  here instead.

Random-state 4x4x4 would be awesome, but right now it's more :-(

`./tmt make run -p timer` gives this:

Trying again:

[2012-06-13 10:19] jfly opened #12 "Better error message when failed to load scrambles"
Right now, there's no indication that we don't ever try again. The user will have to reload the page to try again.
Also, @lgarron says no alerts.

[2012-06-13 10:23] jfly opened #13 "EOF Exception when compiling"
This occurs in all of the scramblers that can generate tables to disk. This isn't a pleasant message to see during a successful compile:

[code]

[2012-06-13 23:18] lgarron opened #16 "Use SecureRandom for all random number generation."
Mersenne Twister is not cryptographically secure.

Not to self: make a speedsolving.com post about how seed space is a red herring.

[2012-06-13 23:34] lgarron opened #18 "Peer Review"
As in, post on the forums, get back feedback before finalizing. The sooner, the better.

[2012-06-13 23:34] lgarron opened #19 "Delegate / Judge / Organizer / Competitor Peer Review"
As in, post on the forums, get back feedback before finalizing. The sooner, the better.

[2012-06-14 08:40] #13 closed, assigned to nobody

[2012-06-15 08:41] jfly opened #22 "Finer grained scramble status?"
Right now, 4x4 initialization + scramble time takes a while, and it looks like nothing's happening. Perhaps we should create some infrastructure to allow reporting back on status...

[2012-06-15 09:35] #16 closed, assigned to nobody

[2012-06-15 10:20] #9 closed, assigned to nobody

[2012-06-15 10:40] jfly opened #23 "Release 1"
This is to track stuff that needs to be done before releasing.

[2012-06-15 10:41] #23 closed, assigned to nobody

[2012-06-15 21:19] jfly opened #24 "Scramble padding/disguising?"
Specifically  2x2x2 and pyraminx. The argument that competitors might be able to see the scrambles doesn't hold any water with me, but it would prevent (illegal?) scramble filtering.

[2012-06-15 22:47] lgarron opened #26 "Use only wide turns on big cubes."
Replace slice turns like `r` with `Rw R'` to prevent the people who are scrambling from getting too confused.
This is only an issue with the 4x4x4 solver.

Note, this may result in move cancellations.

[2012-06-15 22:48] #18 closed, assigned to nobody

[2012-06-15 23:27] lgarron opened #27 "TNoodle icon/logo"
Something distinctive, but reminiscent of the WCA logo. For the favicon and scrambler-interface.

[2012-06-15 23:29] #5 closed, assigned to nobody

[2012-06-16 07:04] clementgallet opened #28 "Reflection class"
I get this when compiling:

[code]

Is that important ?

[2012-06-17 04:54] #28 closed, assigned to nobody

[2012-06-17 10:55] #26 closed, assigned to jfly

[2012-06-18 00:14] #10 closed, assigned to lgarron

[2012-06-18 08:36] #12 closed, assigned to nobody

[2012-06-18 09:34] clementgallet opened #30 "De-obfuscate PyraminxScrambler"
Right now, most variables and functions have a one-letter name.

[2012-06-20 20:07] #24 closed, assigned to nobody

[2012-06-21 01:16] lgarron opened #31 "Scrambler Documentation"

[2012-06-21 02:04] lgarron opened #32 "Scrambles should include tnoodle version/date"
Ron wanted this with old scramblers. This makes it possible to trace down which program generated a set of scrambles, in case of trouble.

This should be included in the PDF, and at least the `.json`.

[2012-06-21 08:34] #32 closed, assigned to nobody

[2012-06-22 01:20] #4 closed, assigned to nobody

[2012-06-22 01:38] lgarron opened #35 "Clock Notation"

[2012-06-22 01:39] #3 closed, assigned to nobody

[2012-06-22 01:44] lgarron opened #36 "TNoodle creates two processes"
Right now, the bootstrap to increase memory results in two .jar files displaying in the dock in OSX.

While this is preferable to having no 4x4x4 scrambles, it might be confusing to someone who only expects one program to be running.

I thought the new process tries to kill the parent one. Did that not work?

[2012-06-22 01:52] #31 closed, assigned to lgarron

[2012-06-22 03:21] lgarron opened #37 "Stale tnoodle_resources"
Files are unpacked into `tnoodle_resources` right now. If someone runs a new version of tnoodle from the same folder (very likely, because of download folders in most operating systems), it might use old files and crash or use the wrong data.

Two recommendations:

1) Have each .jar build include some sort of unique ID. Maybe something like version + unix time. Write this value to a file in the `t

[2012-06-22 04:28] #36 closed, assigned to nobody

[2012-06-22 09:59] #37 closed, assigned to nobody

[2012-06-22 10:07] #27 closed, assigned to lgarron

[2012-06-22 17:30] pedrosino opened #38 "Clock colors"
I'd like to suggest changing the down pin color to #885500 (or something similar), to make it easier to tell them from the up pins.

Also, changing the back side color to #55ccff would make it look better than the current gray-ish color.

See www.cuber.com.br/clockScrambler.html for how it looks like (not the same front blue, but that one is good)

[2012-06-22 18:37] lgarron opened #39 "Don't display exceptions while running"
Right now, there is a `FileNotFound` exception on first run, when the prune tables are not found.

I'm also getting stream exceptions.

[2012-06-22 18:42] lgarron opened #40 "<title> tags for Markdown files"
It might be nice to set the `<title>` tags to the first line (if it's a `<h1>`) for served Markdown pages.

[2012-06-22 20:35] jfly opened #41 "Create tnoodle_resources/ in an atomic fashion"
Something like extract to temp dir, then move temp dir to tnoodle_resources.

[2012-06-23 01:02] lgarron opened #42 "Reduce .jar size"
22d6dbcd2170a2774717fd8cfab668764c909c77 helped significantly by taking bouncycastle from 2MB to 18KB. Perhaps we can trim out a bunch of iTextPDF for tnoodle releases?

[2012-06-23 02:42] #40 closed, assigned to nobody

[2012-06-23 02:43] #2 closed, assigned to nobody

[2012-06-23 13:58] pedrosino opened #44 "Megaminx color scheme"
Top-part of the preview works if I start with middle-blue on front, on a mefferts color scheme. But the bottom doesn't.

Also, I don't like the preview shows no front face, but instead a B, RB, LB, LF and RF faces. Tilting the image some degrees might be good.

[2012-06-23 17:21] #38 closed, assigned to nobody

[2012-06-23 17:27] pedrosino opened #45 "Pyraminx scrambling orientation"
As it is now, looks to be red on front, blue on bottom.
As Roman said on the gmail group, yellow on bottom, green on front would be more consistent with the rest.

[2012-06-25 00:37] #39 closed, assigned to nobody

[2012-06-25 00:40] #41 closed, assigned to nobody

[2012-06-25 01:21] jfly opened #46 "Keyboard shortcut keyrepeat broken (for resizing scramble area)"
This might be due to some mootools shuffling I just did.

[2012-06-25 02:26] lgarron opened #47 "Integrate AppleJavaExtensions dependencies"
Right now, it's not explicitly listed in the classpath for the server or in `lib/libraries`.

[2012-06-25 20:59] #47 closed, assigned to lgarron

[2012-06-26 04:49] #44 closed, assigned to nobody

[2012-06-26 04:56] #45 closed, assigned to nobody

[2012-06-26 23:50] jfly opened #48 "Resize scramble font to make maximal use of space in pdfs"
I think this is what Pedro asked for.

[2012-06-27 10:37] #48 closed, assigned to nobody

[2012-06-28 08:35] lgarron opened #49 "Have tmt report .jar build size"
So we know how large we're at. In particular, so we can notice if it's unexpectedly large.

[2012-06-29 00:40] #49 closed, assigned to nobody

[2012-06-29 00:42] jfly opened #50 "Add bookmarks to unified pdf?"
This would make navigating way easier than trying to juggle a bunch of pdfs on the filesystem.

In addition, we could look into creating some sort of generated html inside of each zip.

[2012-06-29 05:03] #50 closed, assigned to nobody

[2012-06-30 08:45] #42 closed, assigned to lgarron

[2012-07-03 18:43] #22 closed, assigned to jfly

[2012-07-11 20:42] lgarron opened #51 "Default competition name"
e.g. "Scrambles"

Otherwise, the `.pdf` in the .zip is a hidden file.

(OSX doesn't even treat it correctly as a .pdf even if you do open it.)

[2012-07-13 22:46] lgarron opened #52 "A4 vs. Letter"
Europeans are going to have lots of extra space. Is there a good way to handle this?

I would prefer not to introduce a UI option for something like this, unless we introduce an advanced options panel. But even that goes against the simplicity we have right now. Put this off until people actually bring it up to us?

[2012-07-14 02:28] lgarron opened #53 "Thinner lines for FMC Sheets"
Thinner lines would avoid interfering with small letters.
Assuming we're keeping the overall format.

[2012-07-14 02:30] lgarron opened #54 "Lots of messages flood the screen."
This makes it impossible to press the reset button, for example.

A simple fix would be to add this to `#ajaxStatus`:

[code]

[2012-07-16 16:11] #52 closed, assigned to nobody

[2012-07-18 08:41] clementgallet opened #58 "Which 4x4 scrambler"
Chen Shuang has also written a [4x4 solver](https://github.com/ChenShuang/TPR-4x4x4-Solver).
It has several advantages over mine:
- solutions end up with outer layer turns, while mine ends up with half layer turns
- solutions are a bit shorter (~45 moves), and more suitable for ftm metric (no inner slices moves to convert at the end)

The only problem I see is that it takes a bit more memory (~80

[2012-08-07 13:41] pedrosino opened #59 "6x6x6 scrambles have Uw Dw'"
I found a couple of these at the last competition.
I think it was Uw2 Dw2, but you get the point.

[2012-08-17 05:32] lgarron opened #60 "Have a product for the WCA scrambler .jar specifically."
While I have nothing against using `-p timer` for development, something like `-p wca` would be a nice distinction. It's semantically cleaner and more future-proof.

[2012-08-17 21:21] clementgallet opened #61 "Working version by Sept, 1st"
Could we have a working version of tnoodle by sept 1st, along with the release of the new regulations ? It will still allow updates, we should write on the regulations to tnoodle version > x.y for example.

[2012-08-18 09:02] lgarron opened #62 "Threephase Integration cleanups"
Threephase appears to be fast, and not too slow to initialize, which is awesome.
- Is initialization progress being reported properly? I see it update in three sections, the last of which takes the longest this might suggest to a user that something is wrong. (On the commandline, it updates with percents, so we could theoretically provide a very smooth progress bar in the UI, right?)
- Maybe clean

[2012-08-18 09:45] #58 closed, assigned to nobody

[2012-08-19 21:44] lgarron opened #63 "Update documentation to reflect threephase."
For example, WRC documentation still says the 4x4x4 scrambler might take up to 10 minutes to initialize and use 75MB of disk space for prune tables.

[2012-08-19 21:48] lgarron opened #64 "Regression Test of PDF generation"
We should be able to catch that encrypted PDFs are broken, so that [this doesn't happen again](https://github.com/cubing/tnoodle/commit/69f4d6cc89323442f8fae1dfeed8d2e93cf445e1).

[2012-08-21 08:14] clementgallet opened #65 "Update 333fm"
Update fewest moves sheet to reflect the new regulations.
Change also "challenge" to "event", this is not a challenge :)

[2012-08-21 19:28] #62 closed, assigned to nobody

[2012-08-23 07:55] lgarron opened #66 "Filtering out solved states"
The WRC seems to be coming to a consensus that scrambles should only be filtered to remove any random state that could be considered solved, possibly including penalties (i.e. you could start and stop the timer without turning, and not get a DNF).

Although perhaps the community will have very convincing arguments for something else, this seems to be the best tradeoff for now, so we should be read

[2012-08-23 11:07] #65 closed, assigned to clementgallet

[2012-08-30 08:21] #59 closed, assigned to nobody

[2012-09-09 06:58] lgarron opened #67 "Update to match regulation changes."
Starting a list:
- Block turns are now e.g. 3Rw.
- x, y, and z are still moves.

[2012-09-21 15:33] clementgallet opened #68 "Remove * R' U' from 2x2 scrambles + possible improvement"
Some people dislike the fact that 2x2 scrambles end with R' U'.
A first solution is to randomly select the order of moves to try.
But this might be combined with an improvement by selecting the scramble which would be the fastest to fingertrick (using gripper-like algorithm). However, this is beyond the main goal of an official WCA scrambler.
If people here find it is good to implement, I can work

[2012-09-22 18:08] #67 closed, assigned to nobody

[2012-10-17 02:34] jfly opened #69 "Pyraminx scrambles all start (start?!) with U L"
I have 3 comments/concerns here.

1) Baiscally the same issue as #68. It's pretty easy to fix this by shuffling the order in which we select axes in PyraminxScrambler:idaSearch.

2) Before we fix 1), why is it that the scrambles begin with UL, rather than end with them? My understanding of #68 is that we were giving the 2x2 solver enough "wiggle room" to choose its favorite couple of moves every t

[2012-10-20 13:05] #68 closed, assigned to clementgallet

[2012-10-22 09:55] jfly opened #72 "Cubecomps CSRF vulnerability/accessing cubecomps from localhost, 127.0.0.1, and public ip"
`lib_ref.php` and `lib_ref_admin.php` make the following check:

[code]

(copy pasted from an email I sent to wca-compmanager)

However, the if statement in lib_ref.php and lib_ref_admin.php that is meant to prevent CSRF is broken. It checks if HTTP_REFERER contains the string "//cubecomps" (or "//www.cubecomps" or "//test.cubecomps", but that's not important. The check is also case insensitive.)

[2012-10-22 10:05] jfly opened #73 "Freeze JSON format WCA will accept, and make cubecomps export that"
See https://groups.google.com/d/msg/wca-compmanager/bsHbiRtL_rA/bKY4d9vTqCsJ.

@pochmann is in charge of the JSON format.

@Luis-J-Ianez volunteered to add the export functionality to cubecomps.

[2012-10-22 10:09] jfly opened #74 "Make it easy for people to create new competitions"
Right now, the only way to create a competition is to go to localhost:8080/h2 and write a sql command to insert a row in the competitions table. This is pretty painful.

@gagou9 has been communicating with Luis, and is in charge of this.

[2012-10-22 10:44] jfly opened #75 "re-login link broken"
"Please re-login" message links user to root of webserver, which doesn't work on tnoodle.

[2012-10-22 10:47] jfly opened #76 "Encoding error with ï¿½land Islands"
This might be an easy fix, it's just something that needs to get done. We should also make sure that competitor names with non ascii characters work, too.

[2012-10-22 10:48] jfly opened #77 "FORMATS table not being populated on initial start"
Most likely a bug in InitializeCubecompsDbServlet.java.

[2012-10-22 10:54] jfly opened #78 "Install phpexcel?"
We'll have to set DIR_PHPEXCEL in inc_private.php.

This is needed to generate the workbook after a competition, and to import a cubecomps style workbook.

If we wait for the worldcubeassociation to accept JSON, and get cubecomps to generate wca style csv files, then we could skip this.

[2012-10-22 11:02] jfly opened #79 "Link from MISC to live results is broken on tnoodle"
misc.php links to http://live.localhost/live.php?cid=0, which is not the correct url (http://localhost:8080/cubecomps/live.php?cid=0 is)

`earlyError()` in and `header("Location: http://live.".DOMAIN."\r\n");` in live.php also need to be updated.

[2012-10-22 11:06] jfly opened #80 "Install tFPDF"
This is needed for the clasifications button under MISC to work.

tFPDF is also used for generating scorecards.

[2012-10-22 11:37] jfly opened #81 "Set DIR_UPLOADS and DIR_UPLOADS_ABS in inc_private.php"
We want to write to the bin/ directories, not the src/ directories when we're doing a `./tmt make run`. I'm not sure how to achieve that. However, this should also work when running from a jar file. I don't know how we're going to accomplish that.

Until we get this working, uploading scorecard background image won't work.

[2012-10-22 12:54] #77 closed, assigned to nobody

[2012-10-22 20:24] #60 closed, assigned to nobody

[2012-10-22 20:58] #53 closed, assigned to nobody

[2012-10-23 06:36] #30 closed, assigned to nobody

[2012-10-23 19:34] #61 closed, assigned to nobody

[2012-10-23 20:29] #51 closed, assigned to nobody

[2012-10-24 04:45] FatBoyXPC opened #82 "Changing include to require/require_once"
The difference between include and require is that the script still executes if the included file cannot be found/read whereas require will fatal error the script so it will stop executing. Obviously include_once and require_once will only include the file if it has not yet been included. I much prefer require_once for any library/include/functions file that is necessary (this way we won't overwri

[2012-10-24 04:48] FatBoyXPC opened #83 "Move lib files to appropriate directory"
It's usually a good idea to separate out all the includes/library files/etc into the appropriate directories.

[2012-10-24 12:44] #63 closed, assigned to nobody

[2012-10-24 18:41] gagou9 opened #84 "Fix SQL Injection vulnerabilities"
Found at least one in live.php, but definitively more when logged-in to a competition.

All variables coming from any $_POST, $_GET, $_REQUEST should be sanitized using the DBMS extension's dedicated function. For MySQL, it is "mysql_real_escape_string()".

Or even better would be to use prepared statement.

[2012-10-25 06:57] clementgallet opened #85 "Not all combined rounds are possible"
Right now, only best2/avg5 and best1/mean3 are possible in cubecomps, while every combination of rounds are allowed (e.g. best1/best2 or mean3/avg5)

[2012-10-25 10:51] jfly opened #86 "Disable remote access to /h2 console"
Since everyone's going to have the same sql username/password, we need to restrict access to /h2 to the actual machine tnoodle is running on.

[2012-10-28 21:22] FatBoyXPC opened #87 "Change Errors to Exceptions"
Find any sort of die, exit, error of any type (including possible string errors that we manually echo/print) and turn these into exceptions.

[2012-10-29 16:44] #69 closed, assigned to nobody

[2012-10-29 16:45] #35 closed, assigned to nobody

[2012-10-29 22:59] #72 closed, assigned to nobody

[2012-10-30 22:48] #86 closed, assigned to nobody

[2012-10-31 09:18] #82 closed, assigned to nobody

[2012-11-05 21:01] #54 closed, assigned to nobody

[2012-11-05 21:02] #66 closed, assigned to nobody

[2012-11-06 03:02] FatBoyXPC opened #100 "Scorecard Format"
There was a suggestion to let the scorecard format be customized. For example, the specific suggestion was that a place for the competitor to sign/initial as well as the judge (currently there is only a box for the judge's initials).

Note: Why can't I put a label on here? This should be a cubecomps label.

[2012-11-06 03:04] FatBoyXPC opened #101 "Errors"
There was a suggestion that there are some unfriendly error messages with cubecomps. One example is that if there are 2 people doing data entry and somehow both people end up entering times for the same competitor it causes an issue (but it is fixed if you hit refresh). I will update this issue after I get some better specifics.

[2013-02-08 20:19] jfly opened #103 "Create gh-pages website for tnoodle"
We can even update `make release` to automatically upload a new jar file.

[2013-02-26 09:34] lgarron opened #108 "Remove slice moves reference from FMC page."
"(Slice moves count as two turns.)"

Slice moves ae not official notation anymore.

[2013-03-18 14:53] cs0x7f opened #109 "Translate the rules in fmc scramble"
https://github.com/cubing/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L496

These rules(or notice) are written in English, should we translate them into different languages?

[2013-03-23 21:41] lgarron opened #110 "Update Scramble Filtering in README."
Currently:

[2013-06-07 19:17] #103 closed, assigned to nobody

[2013-06-07 19:18] #19 closed, assigned to nobody

[2013-06-07 19:21] jfly opened #111 "Get GWT drawing code to actually *work*"
Also need to implement puzzle icons.

[2013-06-07 19:21] jfly opened #112 "Look into GWT + java logging"
- Figure out how to enable java logging in gwt. System.out.print*
  doesn't get converted by gwt? Right now, I've been debugging blind.

[2013-06-07 19:22] jfly opened #113 "Test out what happens when a java assert blows in gwt."
Pretty simple, just making a note of it here.

[2013-06-10 08:16] #113 closed, assigned to nobody

[2013-06-10 08:32] #112 closed, assigned to nobody

[2013-06-11 09:50] jfly opened #118 "Custom color scheme with tnoodlejs"
This involves exporting the face boundaries, and making drawScramble() take a color scheme as an argument.

[2013-06-12 11:20] #111 closed, assigned to nobody

[2013-07-13 20:08] pedrosino opened #119 "0 or 1 extra scrambles not possible?"
If I change the extra scrambles from 2 to 0 or 1, it says "Puzzles initalising", even if the scrambles are already done, and stays that way.

However, if I change the # of scrambles from 5 to 50 or whatever, it is ready in a second.

Changing extra scrambles to 3 or more seems to work ok too.

[2013-07-13 20:19] #119 closed, assigned to nobody

[2013-07-22 18:32] #108 closed, assigned to nobody

[2013-09-28 13:43] #118 closed, assigned to nobody

[2013-09-28 23:59] #73 closed, assigned to nobody

[2013-09-28 23:59] #74 closed, assigned to nobody

[2013-09-28 23:59] #75 closed, assigned to nobody

[2013-09-28 23:59] #76 closed, assigned to nobody

[2013-09-28 23:59] #78 closed, assigned to nobody

[2013-09-28 23:59] #79 closed, assigned to nobody

[2013-09-28 23:59] #80 closed, assigned to nobody

[2013-09-28 23:59] #81 closed, assigned to nobody

[2013-09-28 23:59] #83 closed, assigned to nobody

[2013-09-28 23:59] #84 closed, assigned to nobody

[2013-09-28 23:59] #85 closed, assigned to nobody

[2013-09-28 23:59] #87 closed, assigned to nobody

[2013-09-28 23:59] #100 closed, assigned to nobody

[2013-09-28 23:59] #101 closed, assigned to nobody

[2013-09-29 00:02] jfly opened #122 "Skewb support"
I think this would be a great project to get a new person involved.

[2013-09-29 00:03] jfly opened #123 "Investigate generic scrambler"
5x5, 6x6, and 7x7 take embarrassingly long to scramble. There must be some way of improving this without writing puzzle specific logic.

[2013-09-30 20:32] jfly opened #124 "Page overflows with 7x7"
This shouldn't be happening, maybe we're hitting the minimum font size permitted?

[code]

[2013-09-30 20:36] jfly opened #125 "Null pointer exception when generating 777 page"
Here's the curl:

[code]

[2013-10-01 02:14] #125 closed, assigned to nobody

[2013-10-01 03:38] jfly opened #127 "`make release` should check that the user hasn't set TNOODLE_NO_GWT"
If this environment variable were set, the build process would still succeed, but would generate incomplete binaries.

[2013-10-01 03:41] jfly opened #128 "Check if "git pull cubing" pulls down tags"
@lgarron said it doesn't. I never ran into this because I'm always the one doing releases, but if other people start doing releases, this will be a problem for the versioning of releases (it relies upon the output of "git describe").

[2013-10-01 06:34] lgarron opened #129 "Use official names for all events"
In particular, "multi blind" is lowercase and informal.

[2013-10-03 21:20] pochmann opened #130 "Killing TNoodle"
Visiting http://localhost:8080/kill/now works but I don't think it's even documented, and normal users might not even be aware that TNoodle is still alive in the background after they closed the browser tab.

One idea is an "Are you finished with TNoodle, so its background process can be terminated?" popup when the browser tab gets closed, similar to the "Really leave this page?" popups when you c

[2013-10-06 22:24] #130 closed, assigned to nobody

[2013-10-06 22:38] #124 closed, assigned to nobody

[2013-10-06 22:45] #110 closed, assigned to lgarron

[2013-10-06 22:50] #127 closed, assigned to nobody

[2013-10-07 04:41] #129 closed, assigned to lgarron

[2013-10-08 22:24] jfly opened #131 "2x2 would look better if it only occupies one line"
@pochmann recommended this. Copy pasting my thoughts here:

Hmmm... interesting idea. Right now, the font size is a big as possible so that the scramble will fit in the box. Lucas didn't like how big the 2x2 scrambles ended up being, so I added a MAX_SCRAMBLE_FONT_SIZE (https://github.com/cubing/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L627).

[2013-10-09 23:25] lgarron opened #133 "Phone home to check that the TNoodle version is official?"
To address https://github.com/cubing/wca-documents/issues/85 we could have TNoodle check for a new version if it's online and display a dialogue if it's not the latest. I wouldn't even be opposed to bricking if the version is confirmed to be outdated.

We have HTTPS for https://www.worldcubeassociation.org/ and I don't mind setting up a URL like https://www.worldcubeassociation.org/regulations/scr

[2013-10-10 08:05] lgarron opened #134 "Provide a link to re-generate scrambles"
For example, a `Regenerate Scrambles.webloc` file in the `.zip` containing:

[code]

[2013-10-12 20:57] lgarron opened #135 "Travis CI Support"
It's free and good and stuff.

[![Build Status](https://travis-ci.org/cubing/tnoodle.png?branch=master)](https://travis-ci.org/cubing/tnoodle)
https://travis-ci.org/cubing/tnoodle

This should _ideally_ just require setting up dependencies  for python/Java and adding them to the .travis.yml file. In practice, there would probably be a few things to fix.

[2013-10-13 06:08] lgarron opened #136 "Better README"
In particular mention that it's the current official WCA scramble program.

[2013-10-13 18:40] #135 closed, assigned to nobody

[2013-10-14 03:55] #136 closed, assigned to lgarron

[2013-10-15 21:58] lgarron opened #137 "Remove GWT dependency for WCA build."
(Making an issue so we don't forget.)

[2013-10-16 22:00] #131 closed, assigned to nobody

[2013-12-03 22:15] lgarron opened #138 "Get TNoodle into package managers?"
`homebrew` should be easy if we make a command-line wrapper.
Not sure how much work it would be to get into a major Linux `apt` repo.

[2013-12-04 18:22] lgarron opened #139 "Time/key-locked scrambles?"
Right now, we use a single password to protect all scrambles.
Since we have to use a lot of competitors as rotating staff, this is practical, but also requires a lot of trust (e.g. not to peek at/use scrambles from the wrong rounds, whether accidentally or on purpose).

Here is an "ideal" sort of solution:
- All scrambling stations are connected to the internet with some output from TNoodle.
- The

[2013-12-10 01:39] lgarron opened #140 "Are the filtering limits correct?"
Someone pointed out that the documentation for some puzzles is 1 off from what was supposedly agreed. Jeremy, could you email the Board (CC the WRC) and figure out where things should be?

I would, but I am already spending too much time on the Regulations.

[2013-12-11 12:51] #133 closed, assigned to nobody

[2013-12-13 20:25] lgarron opened #142 "PDF Cover Page with useful information"
Ideas:
- What puzzles are legal
- notation, puzzle orientations
- Images for alignment penalties?

[2013-12-14 09:16] #137 closed, assigned to nobody

[2013-12-14 09:18] #140 closed, assigned to jfly

[2013-12-17 01:46] jfly opened #144 "Look into proguard"
I don't know how well it works with servlets and itextpdf's pw-protected pdf loading madness, but it's worth trying out.

[2013-12-27 16:28] lgarron opened #148 "Rotations/wide turns for non-inspection events"
That is, for BLD scrambles. I suggest the appending the following to every 3BLD scramble:
- Randomly select a move from {id, Rw, Rw2, Rw', Fw, Fw'}
- Randomly select a move from {id, Dw, Dw2, Dw'}

This is simple to understand (put a random center on U, then put a random center on F), allows the scrambler to keep the same centers on top and front for the most of the scramble (a useful crutch if yo

[2013-12-27 16:31] lgarron opened #149 "Add old-style clock scrambles below official ones"
I'm personally not very in favor, but this would make most people happy, and doesn't really cost anyone.

The scrambles should produce exactly the same result, of course.

Does not need to be ready for 2014 unless this is very easy.

[2013-12-27 16:31] lgarron opened #150 "2014 Regulations and TNoodle"
Things that TNoodle needs to have for 2014:
- [x] Skewb (#122)
- [x] BLD orientation/wide turns (#148)
- [ ] Square One optimal solver (#151, #153)
- [x] Switch clock colors (#154)

Low-priority (does not need to be ready Jan. 1):
- [x] Link for regenerating scrambles (#134)
- [ ] Old-stye clock scrambles below new ones (#149)

[2013-12-28 11:22] jfly opened #151 "Square One optimal solver broken"
After https://github.com/cubing/tnoodle/commit/c89b791ca1529936848d84c43f41e1a3a1c794a2#diff-7bafcc36a5af0e1c5912eb7de8544164R31, sq1 tests started failing https://travis-ci.org/cubing/tnoodle/builds/16066084.

I've worked around the problem by simply not using the optimal square one solver: https://github.com/jfly/tnoodle/commit/81666d33c05cc3778681ab8c8a48963de767640c#diff-7bafcc36a5af0e1c5912eb

[2013-12-28 11:32] lgarron opened #153 "Finalize Square-1 Filtering Limit"
We need to know the final number for the Regulations:

https://github.com/cubing/wca-documents/issues/129
https://www.worldcubeassociation.org/regulations/2014-draft/#4b3

Also see #151.

[2013-12-30 02:03] lgarron opened #154 "Switch clock colors."
Scrambling starts with darker color in front. Switching light and dark blue should be fine.

From https://github.com/cubing/wca-documents/issues/132

[2013-12-30 11:38] #122 closed, assigned to nobody

[2013-12-31 00:37] jfly opened #155 "White/grey scramble highlights (alternating rows)"
This would make reading long scrambles less error prone. See https://groups.google.com/d/msg/wca-scrambler/d6rM2ZqXG3k/Qf1jc8SUuvcJ

[2014-01-02 22:25] Methuselah96 opened #156 "Skewb only generates scrambles with length of 9 moves."
This could not generate positions on Skewb with move length of 10 or 11 away.

[2014-01-08 09:03] lgarron opened #157 "Rename MIN_SCRAMBLE_LENGTH to EXACT_SCRAMBLE_LENGTH."
Like, seriously.

[2014-01-08 09:05] #157 closed, assigned to jfly

[2014-01-08 09:07] #156 closed, assigned to nobody

[2014-01-10 02:01] #154 closed, assigned to nobody

[2014-01-10 03:15] jfly opened #159 "HTML alternative to PDF?"
We could even use our gwt generated javascript if we want to be super cool, although there might be some unacceptable drawbacks doing it that way.

PDFs are great for printing scrambles, but they're not 100% ideal for viewing. Opening individual PDFs on a laptop is annoying as hell. A unified PDF is better, if your viewer has bookmark support, but it's still pretty easy to accidentally scroll away

[2014-01-12 03:25] timhabermaas opened #160 "[Meta] Slim down project"
As mentioned on [speedsolving](http://www.speedsolving.com/forum/showthread.php?45693-WCA-Regulations-2014-Scramble-Filtering-%28new-poll%29&p=942245&viewfull=1#post942245) TNoodle would in my opinion benefit from a slimmer overall appearance.

Here's a rough roadmap how I'd approach this. Feel free to add missing points/correct existing ones and raise any objections in the comments below.
## TODO

[2014-01-14 00:22] #134 closed, assigned to nobody

[2014-01-14 00:22] #151 closed, assigned to nobody

[2014-01-14 18:06] lgarron opened #162 "2x2x2 scrambles in 0.8.0 are <L, D, F>"
Which makes me wonder what else broke.
I don't think we need more regression tests, we need human testing.

[2014-01-14 21:52] #162 closed, assigned to nobody

[2014-01-15 00:41] jfly opened #164 "scrambleviewer.html doesn't work without corresponding .jsonp file"
See https://github.com/cubing/tnoodle/blob/master/webscrambles/WebContent/wca/scrambleviewer.html and https://github.com/cubing/tnoodle/blob/b900d6e0595c6bdd787db2db100f091a41adc796/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L963.

We could embed the entire jsonp file into the html file, and then people would not need to extract the entire zip file in order to ope

[2014-01-18 21:55] jfly opened #165 "Generating random turn scrambles doesn't remove redundant turns"
Tim pointed this out here: https://groups.google.com/d/msg/wca-scrambler/B-UNFvpyqtk/_qMu_GqeB34J.

[2014-01-18 22:02] jfly opened #167 "Scramble generation url doesn't preserve the order of the rounds"
Reported by Tim McMahon on the wca delegates list. Email copied here:

[2014-01-18 22:51] #165 closed, assigned to nobody

[2014-01-18 22:51] #167 closed, assigned to nobody

[2014-01-28 11:44] lgarron opened #168 "Skewb is not listed in random scramble explanation"
http://localhost:2014/readme/scramble

[2014-02-22 00:35] lgarron opened #170 "0.8.8"
Never mind, just see https://github.com/cubing/tnoodle/issues?milestone=2&state=open and https://github.com/cubing/tnoodle/issues/milestones?with_issues=no directly.

[2014-02-28 02:38] jfly opened #171 "NullPointerException when generating zip file"
Tim:  i'm getting a NullPointerException when generating scrambles using the TNoodle jar i just downloaded
 me:  darn!
stacktrace?
 Tim:  at net.gnehzr.tnoodle.server.webscrambles.ScrambleRequest.requestsToZip(ScrambleRequest.java:907)

907 is this:

[code]

Tim started up TNoodle-WCA-0.8.4 for the first time (this means he had no 444 pruning table yet), and generated a bunch of scrambles, includi

[2014-04-07 21:37] #170 closed, assigned to nobody

[2014-05-04 14:45] megaminxwin opened #172 "Skewb scrambles always start with L R(')"
Just generated 1,000 Skewb scrambles, and every single one began with an L move, and the second move was either an R or an R'. Am I really stupid, or is this a bug?

[2014-08-08 20:27] #138 closed, assigned to nobody

[2014-09-03 22:28] StachuK1992 opened #176 "No license available."
Anything reasonable should do?

[2014-10-02 20:19] jfly opened #177 "Handle non-ascii characters"
Sébastien just tried to generate scrmables for "Sébra Open", and the pdf title was "SÃ©bra Open".

[2014-11-22 00:19] #148 closed, assigned to jfly

[2014-11-22 00:20] #150 closed, assigned to nobody

[2014-11-22 00:24] jfly opened #178 "Make it easy to define new, non wca-events"
Sébastien asked for this [here](https://groups.google.com/d/msg/wca-scrambler/lqnnSnu2DX4/gNRI_THt6ogJ). As he said in the thread, if an organizer wants to run a round of Team BLD, it would be really nice for the generated sheet names to have a useful title (Rubik's Cube isn't very helpful).

[2015-03-07 01:37] pedrosino commented on #155
This is done, see https://github.com/cubing/tnoodle/pull/179

[2015-03-07 02:57] #155 closed

[2015-03-07 02:58] #176 closed

[2015-03-07 02:59] jfly commented on #139
TNoodle is not going to handle this. This will be up to competition managers such as [CCM](https://github.com/cubing/ccm).

[2015-03-07 02:59] #139 closed

[2015-03-25 23:14] lgarron opened #182 "Encoding JSON in URL"
Someone in https://news.ycombinator.com/item?id=9263834 linked to https://github.com/Nanonid/rison

[2015-03-25 23:36] jfly commented on #182
Sweet! Rison sounds very similar to the hack we're doing in the url bar. It would be nice to use something standard. I don't feel too badly about breaking url compatibility across version of tnoodle if we're moving to something standard. Right now, CCM produces TNoodle links, and that required copying code out of tnoodle, which is a shame: https://github.com/cubing/ccm/blob/1be542ad64027408d55dd34

[2015-03-30 04:17] lgarron opened #186 "Don't squish scrambles on one line if it looks inconsistent."
![screenshot 2015-03-29 21 11 22](https://cloud.githubusercontent.com/assets/248078/6890071/2bca7692-d658-11e4-9252-8630735e9baf.png)

TNoodle looks like it's being inconsistent and malfunctioning, which detracts from the "It Just Works" appeal.

If they encounter this, I think a lot of scramblers will at least ask _why_ this happened. I think many of them will still be left with a tiny but uncomf

[2015-03-30 06:03] jfly commented on #186
Right now, we make an effort to ensure that all scrambles in a particular table are the same font size (that's what this whole [longest*Scramble](https://github.com/cubing/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L771) business is about). We don't make an effort to ensure that the font size is consistent across both tables. We have the start

[2015-03-31 05:50] lgarron commented on #186
Same for highlighting.

![screenshot 2015-03-30 22 49 54](https://cloud.githubusercontent.com/assets/248078/6913033/1f28ed06-d72f-11e4-84ef-8236e383086b.png)

[2015-03-31 17:04] lgarron opened #187 "Allow clicking "Generate" before initialization is finished."
i.e. "set and forget" rather than having to babysit a slow computer.

Requested by Artem Melikian

[2015-03-31 17:05] lgarron opened #188 "Figure out why the scramble generation UI locks up"
1. Place the cursor in 3x3x3.
2. Alternate typing `1` and pressing `tab`.

This should be able to go very fast... but it doesn't.

Could be an underlying issue in https://github.com/cubing/scrambler-interface

[2015-04-12 20:36] lgarron opened #189 "Embed the scramble JSON in the PDF?"
Yes, Delegates shouldn't lose the `.zip` files. But can we possibly put the JSON

- in some sort of PDF metadata (that is also encrypted with the PDF), or
- in tiny font on an extra page (so that we can still copy it out reliably)?

[2015-04-13 03:47] jfly commented on #189
Embeding the JSON into the PDF sounds cute and easy.

[2015-04-19 00:10] UnsolvedCypher opened #190 "Clock scrambles contain moves that do nothing"
Some clock scrambles contain moves to be executed zero times (such as L0+) - could these be ommited? I think it's easier for the scramblers when there are fewer moves to look at.

[2015-04-19 00:31] jfly commented on #190
Thanks for the report! @clementgallet implemented the clock scrambler, so I'm pretty unknowledgeable here. Does the current behavior make things more consistent?

[2015-04-19 01:15] UnsolvedCypher opened #191 "F in PDF scrambles could be mistaken for F'"
The font used in the PDF files has a little serif hanging off of the upper-right of the F which could be mistaken for an apostrophe. I think it might be better to use a non-serif monospace font to avoid the similarity so that scramblers do not get confused.

[2015-04-19 01:17] jfly commented on #191
Could you include a screenshot, please?

[2015-04-19 01:22] UnsolvedCypher commented on #190
Not as far as I can tell. It's comparable to having D D' in a 3x3 scramble - it's a move that does nothing.

[2015-04-19 01:30] UnsolvedCypher commented on #191
Here it is - I'm running Arch Linux. I know I'm not the only one because scrambles provided by Tim Reynolds are also in this font. I believe he uses Ubuntu.

![tnoodle-font](https://cloud.githubusercontent.com/assets/3170853/7217770/00ffe748-e612-11e4-934e-c08dd7093c2c.png)

[2015-04-19 01:35] jfly commented on #191
Hmm... here's my font setup on my arch laptop: https://github.com/jfly/dotfiles#fonts. Have you installed any of those? That might explain why I'm seeing something different than you guys.

Either way, I'm not super knowledgeable about PDFs and fonts. I know we specify "embedded" when including the font: https://github.com/cubing/tnoodle/blob/73fe06041a982e71536abb6673f71a81ef4c35a0/webscrambles/s

[2015-04-21 01:45] UnsolvedCypher commented on #191
I'm not sure what the font is in your screenshot, but according to the code you linked to, Courier is the font that is supposed to be used. You can see [right here](http://www.fonts.com/font/adobe/courier) what that is supposed to look like. It looks like you do not have Courier installed; ttf-ms-fonts is the relevant AUR package.

[2015-04-21 01:52] jfly commented on #191
Gotcha. Again, I'm honestly not super excited to dig into fonts and pdfs, and would rather focus on moving us towards html/css/javascript. This is all still a ways out, so I will leave this issue open, and accept any PRs that improve the current situation.

[2015-04-21 01:56] UnsolvedCypher commented on #191
All I would ask is to change the font, which I believe can be done in the code snippet you linked to. I would be happy to submit a pull request, but it's probably best to have a few people agree on what the font should be before I go changing it. Or do people not care and any non-serif monospace font is fine?

[2015-04-21 02:03] jfly commented on #191
If you can get it to be a sans-serif monospaced font, that would be a great start for discussion =)

[2015-04-21 02:04] UnsolvedCypher commented on #191
Ok, I'll do a bit of research to make sure I'm choosing a universal font and I'll submit a pull request.

[2015-04-21 02:07] lgarron commented on #191
For finding cross-platform fonts, search for "web-safe fonts".

[2015-04-21 02:09] UnsolvedCypher commented on #191
It looks like you can embed a font into the jar
<http://stackoverflow.com/questions/11366354/itext-whats-going-on-with-font-basefont-and-createfont>
to definitely guarantee its availability. Should that be done to ensure
uniformity?

2015-04-20 22:07 GMT-04:00 Lucas Garron <notifications@github.com>:

[2015-04-21 02:13] jfly commented on #191
I like the idea of embedding the font into the jar. How about you start with that and see if you can get things looking the same on my laptop as yours (I still have not installed ttf-ms-fonts)? You might find the tnoodle build process a little nasty. Do not hesitate to contact me via gchat if you have any questions (you should be able to find my gmail address through the git history).

[2015-04-21 07:25] lgarron commented on #190
[citation needed] :-P

I'd like to know 1) if experienced clock competitors agree with this, and 2) if people who occasionally scramble clock agree with this.)

Clock scrambling has a consistent peg order (which maps each move to a consistent physical location of the scramble in the cell), so I would suspect that leaving one out might mess with peg habits. The current situation may not be optimal,

[2015-05-21 19:21] lgarron opened #193 "Reduce pyraminx filtering to 6 moves."
When/if [the new Regs fixes](https://github.com/cubing/wca-documents/pull/264) land.

[2015-05-21 19:25] jfly commented on #193
The magic line of code is here: https://github.com/cubing/tnoodle/blob/master/scrambles/src/puzzle/PyraminxPuzzle.java#L37. Please submit a PR when this change is ready to go in.

[2015-05-22 18:22] jfly opened #194 "Simplifying scrambles for big cubes"
See email thread here https://groups.google.com/d/msg/wca-software/xSX4kH_uzkc/htTY1VLM-v0J.

The gist of it:

Jaap suggests the following:
1) scramble single moves
2) scramble double moves
3) scramble triple moves
4) 5 sets of (single, double, triple move)

(for 7x7)

[2015-05-22 19:28] lgarron commented on #194
We should consider using 3x3x3 scrambles for the first stage, or the first few stages. That will give us maximum randomness for the move set.

[2015-05-26 04:35] lgarron commented on #193
Will do.

[2015-06-24 01:00] UnsolvedCypher commented on #191
I'm very sorry this has taken so long! I now have free time and am able to work on coding. I am not at home right now, but I will try to close this issue this week.

[2015-10-16 12:32] djoscarmix opened #196 "Capabilities to rename rounds"
Hi dear tnoodle team, Im Oscar Ceballos, Venezuelan Delegate.
past weekend I had a 3 days competition and I generated each day the scrambles for the day. I realized that for each day the program generated a new Round 1 for the events, would be nice to recovery the capability to rename Rounds for the next version, this feature worked in past versions.

I had to edited it manually to upload the scra

[2015-10-17 15:58] jfly commented on #196
You should not have to edit it manually to upload it to the workbook assistant. Are you familiar with the edit groups button in the workbook assistant? @Luis-J-Ianez has a great video on how to use this feature.

[2015-10-17 17:38] djoscarmix commented on #196
Yes I saw the video.  But for example i added the three scramble files.
But it only had rounds 1.  Never find scramble for round 2 and 3. The Luis
video talk about Solving the issue for groups Not for rounds.
El 17/10/2015 11:28 a. m., "Jeremy Fleischman" <notifications@github.com>
escribió:

[2015-10-26 22:32] jfly commented on #196
The workbook assistant definitely handles that case. I'm also pretty sure Luis's video talks about how to do this. I'm going to close this issue.

[2015-10-26 22:32] #196 closed

[2015-10-30 18:03] lgarron opened #197 "Random orientation for BLD"

[2015-10-30 18:11] #197 closed

[2015-10-30 18:11] lgarron commented on #197
(Accidentally filed this on the wrong project. Please ignore.)

[2015-11-19 23:44] vojtechkral opened #198 "Password can be cracked easily"
Hi.
I'm not sure if you're aware of this, but ZIP archive encryption is, well, shite. It suffers from the _known plaintext attack_.

__TL;DR:__ Any TNoodle-generated password-protected zip file can be cracked in a couple of minutes.

Longer version:
To crack a TNoodle zip file, all the attacker needs is to use TNoodle to create another zip file with the same competition name and use it for a know

[2015-11-19 23:59] lgarron commented on #198
Yeah, but *how* does it use AES?

Delegates should be using discretion about whom they send `.zip` files (even if encrypted), and I suspect we would probably prefer the compatibility of `.zip` to ideal security. We need to trust competition staff with access to scrambles during the competition, anyhow.
@jfly, wanna take this to the Board?

[2015-11-20 01:45] vojtechkral commented on #198
@lgarron

CBC mode and a reasonably designed KDF. See [this thread](https://security.stackexchange.com/questions/29375/is-7-zips-aes-encryption-just-as-secure-as-truecrypts-version) on security SE.

Sure, that I understand.

[2015-12-04 05:57] jfly commented on #198
Sorry I missed this issue, @vojtechkral, there was an issue with my email filtering that I just fixed.

Thanks for reporting this! It's good to know the zip encryption is not secure. As @lgarron said, one of the driving aspects of TNoodle is for things to work everywhere. In fact, password protected zip files are kind of annoying for delegates to use, as you can't open them on stock android or iOS

[2015-12-04 08:05] lgarron commented on #198
They can still be convenient for access management and password escrow with staff you trust. I'd at least ask Delegates before removing the feature.

[2015-12-04 10:05] vojtechkral commented on #198
It just occured to me that PDFs support encryption too. AES-128 is supported since PDF1.6/Acrobat7.

I've created an example PDF encrypted this way in case you want to try if the encryption is supported in your PDF reader:

[http://kral.hk/KWy](http://kral.hk/KWy)
![http://kral.hk/KWy](http://files.kral.hk/example-encrypted.png)

For me, so far this worked on all my devices/OSes...

[2015-12-06 18:41] jfly commented on #198
Oh, neat! I am pretty sure the last time I tried this, Chrome's PDF reader didn't support passwords.

Protip, we actually do have support for PDF encryption (activated by [holding shift](https://github.com/cubing/tnoodle/blob/33d406b831714a90cfab135cac4660025d1c9ef4/webscrambles/WebContent/wca/scramblegen.html#L326-L330) while clicking the Scramble! button, but delegates had better not starting us

[2015-12-06 19:03] vojtechkral commented on #198
@jfly You can use AES-256, but it has been added in much later PDF format version, so the compatibility might be worse. Your example is AES-128 or AES-256?

[2015-12-06 19:06] jfly commented on #198
Neither, that's with our current code, which does the `PdfWriter.STANDARD_ENCRYPTION_128` I copy pasted. I have no idea what that does.

[2015-12-06 19:15] vojtechkral commented on #198
@jfly Oh, that's probably RC4. Try AES-128 :)

[2015-12-06 19:35] lgarron commented on #198
"AES-128" doesn't tell us much here, either. :-P
Do you know how good the RC4 implementation in PDF is? We only need a few days of forward security (and password brute-forcing is likely to be easier if anyone does ever get their hands on a PDF.)

[2015-12-06 19:43] jfly commented on #198
Looks like we're using itextpdf 5.3.0: https://github.com/cubing/tnoodle/blob/33d406b831714a90cfab135cac4660025d1c9ef4/lib/itextpdf-5.3.0.jar. I can't tell when AES-128 was added, but it certainly looks like it's not present in ours =(

This is where I sign off. Someone who is motivated to upgrade our iTextPDF is more than welcome to take a dive.

[2015-12-07 19:58] vojtechkral commented on #198
@lgarron Ok, sorry, according to PDF reference, they use AES-CBC, 128bit block and 128bit random IV. As far as I know, there are no grave security problems with PDF/AES-128. See also [this blog post](http://johnaugust.com/2014/try-to-open-this-pdf-contd). I honestly don't know how long it would take to crack the PDF with RC4 but it's considered pretty insecure and I don't think there are any gains

[2015-12-08 19:33] jfly commented on #198
Ah, good catch. Perhaps they moved it from `PdfEncryption.AES_128` to `PdfWriter.AES_128` at some point. With the following code:

[code]
I get the following exception:

[code]

[2015-12-13 17:18] vojtechkral commented on #198
@jfly Yup, I can reproduce the exception, no idea how to fix it though :-/

[2016-01-01 13:26] Mollerz opened #199 "Change Square-1 and Megaminx colour schemes"
This is not really a big issue but I thought I'd address it since it's crossed my mind a few times.

Currently the megaminx colour scheme is the mefferts colour scheme. I haven't seen this colour scheme in a competition for at least two years. I suggest changing it to the MF8 colour scheme which is becoming far more universal.

Square-1 is currently using the standard of White top, Green front. Th

[2016-01-01 18:27] jfly commented on #199
Thanks for making this issue. I'm all for making this change, it sounds totally reasonable. Are you comfortable submitting a pull request with the colors you like?

[2016-01-01 18:59] Mollerz commented on #199
I have never used git outside of requesting issues before so I have no idea how to do that!

[2016-01-01 19:07] jfly commented on #199
Here's the relevant code for Megaminx: https://github.com/cubing/tnoodle/blob/master/scrambles/src/puzzle/MegaminxPuzzle.java#L197-L212:

[code]

Here's the relevant code from SQ1: https://github.com/cubing/tnoodle/blob/master/scrambles/src/puzzle/SquareOnePuzzle.java#L52-L60

[code]

GitHub does actually provide a little pencil for you to make changes wikipedia style online (just follow the links

[2016-01-01 23:23] lgarron commented on #199
I think you mean white on top, green on bottom.

If we're switching to BOY, I suggest we go with white on top with green in front, to avoid going with an arbitrary yellow-red flavor-of-the-year color scheme. But switching to BOY sounds sensible.

[2016-01-02 10:30] Mollerz commented on #199
Ah yes my mistake Lucas. However, again I think switching to White/Green as Top/Front is silly, because you just don't see that colour scheme. Every square-1 released since the mf8 V1 has come in the Yellow/Red as Top/Front scheme as default, that's over 5 years where all square-1s have been sold with this colour scheme, so I would hardly call it Flavour of the Year. And if the flavour does change

[2016-01-02 23:52] lgarron commented on #199
If you're right and a large majority all Square-1s used in competitions are yellow-red, that sounds like a compelling reason.

A quick search turned up [Calvin's Square-1 on Amazon](http://www.amazon.com/Calvins-Puzzles-Square-Black-difficulty/dp/B009L8VUJW/ref=sr_1_10?ie=UTF8&qid=1451778438&sr=8-10&keywords=Square-1) with what appears to be yellow on bottom rather than top.

Would you mind doing

[2016-01-03 19:45] Mollerz commented on #199
Personal experience from scrambling square-1 at every competition has led me to this conclusion. A vast majority are Yellow/Red, it is especially noticeable at major championships as well.

[2016-01-04 02:03] lgarron commented on #199
Could you find some evidence to confirm that this is true around the world, too? (Maybe someone from Europe and someone from Asia.) I don't particularly doubt you, but so far this thread only has anecdotal evidence from your personal experience.

[2016-01-16 18:23] Mollerz commented on #199
Just to update, I asked a Facebook Cubing Group that has a pretty international member base, and also some cube shop owners/workers. Yellow/Red is the most popular one people see for sure. Some solvers who use White/Red exclaimed that when they get a new square-1, they have to change the middle layer centre caps to obtain this colour scheme. The shop workers said all mf8, Calvins and QiYi square-1

[2016-01-17 05:26] lgarron commented on #199
Alright, that sounds pretty compelling. Thanks for asking around.

[2016-01-19 21:41] jfly commented on #199
Awesome! I am looking forward to the pull request!

[2016-01-20 21:01] Mollerz commented on #199
Pull requests made, for square-1 I used the standard BOY colour scheme TNoodle uses. For megaminx I customised them to be as close to the mf8 scheme as possible. I used both a stickered dayan and tiled mf8 to work out closest colour.

[2016-01-20 21:20] jfly commented on #199
Sweet! Are you able to run the code? Can you put screenshots on the PRs? If
not, I can do so.

On Wed, Jan 20, 2016 at 1:01 PM, James <notifications@github.com> wrote:

[2016-01-20 21:26] Mollerz commented on #199
I can't I'm afraid, so go ahead.

[2016-01-22 19:56] jfly commented on #199
I've created a release with these changed here: https://github.com/cubing/tnoodle/releases/tag/v0.10.1. @Mollerz, let me know what you think. If this looks good, we can reach out to the Board and WRC and try to make version 0.10.1 official.

[2016-01-22 21:14] Mollerz commented on #199
Looks good to me, it'll be interesting what the board say.

[2016-02-15 13:52] suushiemaniac opened #202 "Package naming in TNoodle-scrambles distribution"
While the parent class "Puzzle" is referenced as
`net.gnehzr.tnoodle.scrambles.Puzzle`
all relevant subclasses are simply packaged as
`puzzle.XYZ` (with XYZ being `ThreeByThreeCubePuzzle` etc.)

This doesn't affect functionality but is certainly confusing/unconventional when using both of them in a single file, i. e.
`import net.gnehzr.tnoodle.scrambles.Puzzle;`
`import puzzle.MegaminxPuzzle;`

I

[2016-03-08 22:34] jfly commented on #193
Looks like this was fixed in #195. Closing this issue!

[2016-03-08 22:34] #193 closed

[2016-03-08 22:38] jfly opened #204 "Generate FMC image only sheet"
@jbcm627 did this by hand for US Nationals: it's sometime's expensive to print out color, so instead, print out a bunch of black and white FMC sheets, along with a page with a bunch of copies of the scramble and image that organizers can cut out in advance.

@KitClement just aksed for this.

[2016-03-20 19:01] jfly opened #206 "Race condition with clock scrambles?"
See while running `scrambles/src/net/gnehzr/tnoodle/test/ScrambleTest.java`:

[code]

[2016-03-20 20:18] lgarron commented on #206
Just to make sure: Are you generating them simultaneously but putting them together in a predetermined order?

If you take them in the order they were generated, you may bias the start towards states that were (for whatever reason) easier to scramble. Probably not a concern for clock, but definitely for other puzzles.

[2016-03-20 20:25] jfly commented on #206
That's a very interesting point, Lucas. Fortunately, our `ScrambleCacher` does [only generate one scramble at a time](https://github.com/cubing/tnoodle/blob/952eb7cc04994045e14bdad0e6a93f4a9c3df47e/scrambles/src/net/gnehzr/tnoodle/scrambles/ScrambleCacher.java#L50).

This test is special in that it creates 2 [`ScrambleCacher`'s at the same time](https://github.com/cubing/tnoodle/blob/952eb7cc04994

[2016-03-20 21:44] jfly commented on #202
I'm closing this, but am happy to accept a pull request that changes this.

[2016-03-20 21:44] #202 closed

[2016-03-22 04:27] jfly commented on #172
This doesn't apply to Pyraminx because @clementgallet added support for randomizing the turns in PyraminxScrambler in bcefe1db2c820567737045f1ad5fde91d1fa2dda. We just need to port that idea over to SkewbSolver. I'll take this on now.

[2016-03-26 00:23] #172 closed

[2016-03-26 00:27] #206 closed

[2016-04-07 11:25] andersonaap opened #210 "Change in FMC scrambles"
[Question]

What is the reason for the 0.11.1 change in FMC scramble?
https://www.worldcubeassociation.org/posts/tnoodle-0-11-1

Make solutions harder? Prevent cheating ...?

[2016-04-07 11:36] pedrosino commented on #210
@andersonaap All FMC scrambles now start and end with the same combination of moves, which are not related to the scrambled state.
This is to prevent people accidentally (or intentionally) using the inverse scramble in their solution.

[2016-04-08 01:47] jfly commented on #210
I'll see if we can make the internal discussion about how we decided upon this public. If there are no objections internally, I will make it public on May 1st.

[2016-04-08 07:43] viroulep commented on #210
This changes occurred when clarifying this [incident](https://www.worldcubeassociation.org/forum/viewtopic.php?f=9&t=2020).
It goes with the following *upcoming* [Regulations changes](https://github.com/cubing/wca-regulations/pull/348/files).

[2016-04-11 09:47] jfly commented on #210
Here are the key emails in the private discussion of how to do this. Hopefully they make sense.

Gritsenko:

This can be achieved by the following:
Generate a random state, apply 5 random moves, find a scramble for a new state, add those 5 inversed moves. If we get less than 25 moves due to some cancellation, but more than 19, it is still ok for us, because information "optimal solution is no more

[2016-04-11 09:47] #210 closed

[2016-04-20 01:19] jfly opened #211 "McAfee doesn't like TNoodle (on Windows 10)"
Christopher Chi ([2014CHIC01](https://www.worldcubeassociation.org/results/p.php?i=2014CHIC01)) was running into this. See error message here:
![image](https://cloud.githubusercontent.com/assets/277474/14660544/20985ce2-065b-11e6-8aca-d07031d86153.png)

McAfee seems to be getting in the way of tnoodle doing what it needs to do while starting up. This is the line of code that was failing: https://g

[2016-04-21 21:07] jfly commented on #211
If Christopher stops Mcafee, then TNoodle will be able to start up. After that point, thie tnoodle_resources directory exists, and TNoodle can happily start even with McAfee running.

[2016-05-12 00:41] StachuDotNet commented on #153
Has a number yet been decided on?

[2016-05-12 00:44] StachuDotNet commented on #191
bump

[2016-05-12 09:08] lgarron commented on #153
We've been using [11](https://www.worldcubeassociation.org/regulations/#4b3d), but the metric has been glossed over.

[2016-05-12 09:08] lgarron commented on #153
Might as well close this, though.

[2016-05-12 09:08] #153 closed

[2016-05-13 04:29] jfly commented on #153
Why is it okay to gloss over the metric? This is related to https://github.com/cubing/tnoodle/blob/c6c0f6650e10d4ae76467532deb19a2504de9b67/scrambles/src/puzzle/SquareOnePuzzle.java#L32-L34, which refers to Chen Shuang's square one solver using a different metric than we agreed upon for filtering.

[2016-05-13 18:27] lgarron commented on #153
I didn't say it was okay. :-P
If we want to fix the metric thing, we should file a separate bug.

[2016-05-17 21:46] jfly opened #212 "Port ui.js to React?"
[Matteo Colombo](https://www.worldcubeassociation.org/results/p.php?i=2009COLO03) just ran into a bug where rounds disappear as he's adding rounds.

I was able to debug this for a little while with him, and it appears to be related to our [hashchange listener](https://github.com/cubing/tnoodle/blob/c6c0f6650e10d4ae76467532deb19a2504de9b67/scrambler-interface/WebContent/scrambler-interface/js/ui.js

[2016-05-17 21:51] MatteoColombo commented on #212
If someone is interested, here is the video i made to show the problem: https://www.youtube.com/watch?v=xpD9CMQKShM

[2016-06-04 02:09] jfly opened #213 "Include TNoodle version in FMC sheet"
We do this everywhere else, so for consistency, this would be nice to have.

[2016-06-09 22:28] jfly opened #215 "Don't serve up 304s for static content"
If a user switches from a new version of tnoodle to an old version and then back to the new version, we still want to serve up the full contents of our static HTML/CSS/JS everytime, without regard to the modification times of the files on our filesystem.

![2016-06-09_15 18 13_1111x364_kaladin](https://cloud.githubusercontent.com/assets/277474/15948680/f49c189e-2e56-11e6-93a2-4213fe7b8a92.png)

[2016-06-12 11:11] GaoSui opened #216 "Allow launching without auto-popup page."
For example, add a command line argument which allows users to start TNoodle without automatically get their browsers fired up. This can be helpful for hosting a scramble server. Thanks.

[2016-06-12 18:59] jfly commented on #216
There already is a command line option (`-n` or `--nobrowser`) for this =)

[code]

[2016-06-12 18:59] #216 closed

[2016-06-12 21:54] coder13 opened #217 "XMLHttpRequestProgressEvent is not defined"
This happens on chrome Version 52.0.2743.33 beta (64-bit)
I downloaded TNoodle-WCA-0.11.1.jar, ran it and after opening up the webpage in chrome, it says this Uncaught ReferenceError from line 333 of scrambleserver.js.
This should be a frontend problem I believe but for what it's worth, I'm running ubuntu 16.04. I

This is my java version:

[code]

[2016-06-14 05:07] GaoSui commented on #216
Sorry, I didn't notice that. Thanks.

[2016-07-06 00:53] agentmirv opened #220 "Windows 10 tmt TypeError"
Hi, I'm getting a TypeError when I attempt to use the tmt script. I'm on Windows 10 and my Python version is 3.5.2. I'm just starting out with this codebase and any help would be great, thanks. The call stack for the error is below:

[code]

[2016-07-06 15:11] jfly commented on #220
For a while, I did development on Windows, but eventually switched to Linux, and I haven't bothered to keep tmt working on Windows. You could try to get it working, but your best bet is going to be to use Linux. @pedrosino does his development inside of a vm.

I'm going to close this because I don't want to add windows support myself, but I would be willing look at a PR that adds it if someone rea

[2016-07-06 15:11] #220 closed

[2016-07-25 02:17] coder13 opened #221 "Make Square-1 scrambles consistently end with a slash"
At Atomic Cubing Sumer 2016, our scramblers were having trouble with the scrambles because they didn't notice some ended with a / and others didn't. I propose we make scrambles more consistent as in all of them ending with a /. I don't know myself how much of an issue this is, but we had a problem.

[2016-07-25 08:43] Laura-O commented on #221
I can understand that one can miss the slash at the end. However, it's quite easy to identify that by comparing the scrambled puzzle with the images (especially the image of the middle slices).

I am also not completely sure if it's possible to change that without making scramble sequences significantly longer. Can you say something about that, @cs0x7f?

[2016-08-03 20:40] jfly commented on #217
This appears to be two-fold:

- There's this javascript bug on https://github.com/jfly/tnoodle/blob/b18452a361679dcff9b557e1feb8119b510aa203/webscrambles/WebContent/wca/scrambleserver.js#L333. We need some other way of detecting if we cannot connect to the server.
-  @coder13 runs into a java backend issue. See pastebin here http://pastebin.com/v4CBySdd

<details>
[code]
</details>

[2016-08-30 04:34] jfly commented on #199
I believe this has been done now. Closing this issue.

[2016-08-30 04:34] #199 closed

[2016-08-30 06:51] gyroninja commented on #204
You are looking for a way to have a sheet full of exclusively normal images (not black and white)?

[2016-08-30 15:57] jbcm627 commented on #204
For US2015, we printed the following solution sheets:
[FMC_solution_sheets.pdf](https://github.com/cubing/tnoodle/files/445327/FMC_solution_sheets.pdf)

And the following scramble sheets (with actual scrambles, of course):
[FMC_solution_sheets.pdf](https://github.com/cubing/tnoodle/files/445328/FMC_solution_sheets.pdf)

[2016-08-31 07:45] #215 closed

[2016-09-03 04:31] #191 closed

[2016-10-11 20:52] jfly opened #225 "Trying to save a PDFs generated by TNoodle in Chrome gives a "network error""
When trying to save a PDF in chrome, I get the following error:

![image](https://cloud.githubusercontent.com/assets/277474/19288186/b8b2f3ec-8fb9-11e6-91a4-bfa0d5b6702a.png)

See [the relevant chromium issue](https://bugs.chromium.org/p/chromium/issues/detail?id=69677#c35), which suggests a workaround: add the `Cache-Control: public` HTTP header. I tried this out by hand, and it actually works!

[2016-10-11 20:53] #225 closed

[2016-11-05 08:37] Baiqiang opened #227 "Add number of "Copies" for each round"
Imagine such a normal case: we have 6 scramblers in 3x3 first round (for 100 people) and 1 scrambler in 3x3 final round (for 12 people).
So 3 copies of scrambles for first round is required and only 1 copy for final round.
Can we add a number field that specifies the copies? Thus we can only print one copy of the whole PDF file instead of printing 3 copies for 3x3 1st round, 1 copy for 3x3 final a

[2016-11-05 10:15] jfly commented on #227
Sure, this sounds like a nice feature. Will accept PR =)

[2016-11-06 04:05] Baiqiang commented on #227
@jfly, the screenshot is just what I want. I'm not able to implement this. Please someone else do this. XD

[2016-11-06 06:23] jfly commented on #227
Sorry, @baiqiang, if you can want it, you're going to have to build it, or find someone else to do it. I will happily answer questions about tnoodle, but currently everyone on the wca software team has stuff to work on that I consider more important, sorry!

[2016-11-06 07:36] Baiqiang commented on #227
@jfly, OK, I understand and will try it.

[2016-11-06 07:38] jfly commented on #227
Sweet! Feel free to reach out to me on gchat or email if you have any questions. I will try to respond quickly.

[2016-11-07 19:14] #227 closed

[2016-11-18 09:03] Laura-O opened #229 "Duplicate rounds and scrambles"
As reported on the delegate list: ([wrc link](https://groups.google.com/d/msg/wca-wrc/6lyiYd-wFW4/d8adiPTHBAAJ) [delegates link](https://groups.google.com/d/msg/wca-delegates/pSILDbac1bs/PsgUPHDhBgAJ)) there is a bug which results in the generation of two identical rounds with identical scramble sequences:

- open TNoodle;
- it automatically brings a round of 3x3, so add another round for 3x3;
- c

[2016-11-18 10:17] andersonaap commented on #229
I did the test. Bug confirmed.

[2016-11-18 20:38] campos20 commented on #229
Is it a problem to replace [this line](https://github.com/thewca/tnoodle/blob/master/scrambler-interface/WebContent/scrambler-interface/js/ui.js#L990) with

?

In this way, every time the user clicks to remove a round, the last round of that ID would be removed. To the user, it looks like if the actual round is being removed and all the rest is being renamed. Also, [this function](https://github.c

[2016-11-18 20:39] jfly commented on #229
@campos20, that sounds like a good solution! Could you send in a PR with it, and we'll give it a test.

[2016-11-19 22:39] campos20 commented on #229
PR done. If the user customizes the round, like editing Groups, Copies, Extra Scrambles, the trick might be discovered, since this will always erase the last one.

[2016-12-07 01:01] #229 closed

[2016-12-07 19:00] campos20 commented on #177
I think that if #159 is implemented, it may fix this as well.

[2016-12-23 02:09] campos20 commented on #109
I think it's a good time to implement this, since there was recent changes in the sheet [#231]. I'm a little concerned about verbose languages.

![captura de tela de 2016-12-23 00-07-37](https://cloud.githubusercontent.com/assets/10170850/21445743/f3c9832e-c8a3-11e6-84e4-05c33774a7a7.png)

[2016-12-24 02:07] jfly commented on #109
Yeah, if we do this, we're probably going to have to write code that picks a font size based on what's necessary to make everyting fit in the available space.

[2017-01-04 16:42] campos20 opened #232 "Put timestamp in PDF"
This was requested by @Luis-J-Ianez, via email (about another subject)

@jfly answered in the same email discussion:

I decided to open this issue to help in this discussion, see pros and cons.

[2017-01-04 17:31] campos20 commented on #232
Before
![captura de tela de 2017-01-04 15-29-35](https://cloud.githubusercontent.com/assets/10170850/21652145/ac80fd64-d292-11e6-9d6f-d9c9974e3fe5.png)

Suggestion
![captura de tela de 2017-01-04 15-26-49](https://cloud.githubusercontent.com/assets/10170850/21652066/480fdbe8-d292-11e6-8a81-d384979acdd0.png)

[2017-01-04 17:51] Laura-O commented on #232
If we add a timestamp it should not be understandable by the average competitor (e.g. a Unix timestamp). I a quite sure that a human readable timestamp will confuse some competitors.

[2017-01-04 18:20] campos20 commented on #232
Interesting suggestion. But if it's not human readable, it may not prevent cheating, as requested by Luis. If someone sees 1483550649 (timestamp in milliseconds, as used in Unix and others) and 1461950649, is it clear the 6 hours difference? The cheater can just print his/her own version using standard TNoodle, no one will care to remember all the digits. Remembering the final 2 digits, for exampl

[2017-01-04 18:46] pedrosino commented on #232
Why would it confuse competitors?

[2017-01-04 19:07] Laura-O commented on #232
Because they might understand this as the current date and not the date the scrambles were generated at.

Apart from that, which kind of cheating do we want to prevent here? Competitors bringing their own FMC sheet to a competition?
As Luis mentioned in his mail, this is rather crazy. It will be easy to identify an exchanged scrambles for several reasons. And if someone checking FMC sheets is not

[2017-01-05 00:58] jfly commented on #232
It might also be worth noting that one of my big goals for the WCA website is to eventually require uploading FMC solutions to the website, which means the WCA Results Team would then be able to detect phony solutions.

[2017-01-05 01:49] campos20 commented on #232
If you search why we have to turn off electronics during flight, you will find that it's because it _may_ cause interference when considered _hundreds_ of trips, although there's no accident reported so far caused by this issue. The cost of asking passengers to turn off the device is very low and the benefits are enormous.

I know we're not dealing with dozens of lives, but to put a stamp that _ma

[2017-01-05 12:04] Luis-J-Ianez commented on #232
Let me clarify this.  I proposed that because it is extremely easy to code and besides, because it could help us in some circumstances.  I agree with Jeremy that it will seldom be of any use, but considering how affordable it is, maybe it would be worthy all the same.  Not to mention the possible dissuasive effect that this could have.

If we are concerned about timestamps confusing people, we cou

[2017-01-05 12:55] Laura-O commented on #232
Well, sorry to say that but the flight analogy is really bad: [the FAA changed this rule](http://edition.cnn.com/2013/10/31/travel/faa-portable-electronic-devices/) and many airlines allow you to use electronics during start and landing now because they realised that there is no problem with radio interference signals. :wink:

But back to topic: don't get me wrong, I am supporting every useful cha

[2017-01-05 15:22] campos20 commented on #232
:smile: Agreed

Anyways, I think any authentication method to detect possible abuses should suffice, specially considering the "dissuasive effect that this could have".

Random numbers/letters or should it contain information to be encrypted and decrypted? How much information, if that's the case, do we want to put in an authentication? An expression can contain time of generation and name of the

[2017-01-05 20:16] jfly commented on #232
If we want something short and unpredictable, we could do a hash of the scramble.

[2017-01-05 20:50] lgarron commented on #232
That sounds trivial to forge.

I don't have time to keep up with this discussion right now, but if it converges on something, please ping me to take a look at the proposed solution and its threat model.

[2017-01-05 21:51] jfly commented on #232
The attack Luis was worried about is someone substituting their fmc solution sheet with a prepared one. Unless I'm mistaken,  I don't think "forging" is a relevant word here, it's really easy to forge fmc sheets. I think the idea is to make it easy to check that the solution sheet the competitor handed in is the same as the solution sheet they were given at the start of the round.

[2017-01-06 09:33] Luis-J-Ianez commented on #232
I'm not 'especially' worried about FMC.  In fact, in the case the scramble sheets are replaced for cheating, FMC is the event for which this can be more easily detected, as we always keep the sheets.  My first thought was having the timestamp printed and use that as security measure, but after having heard from all you, I think that a short hash based on generation date+time(+tnoodle version?) cou

[2017-01-06 10:30] Laura-O commented on #232
Well, generating a hash is not that much effort.
However, I would prefer a longer one, maybe 10 or 15 characters so it's more difficult to memorize it.

[2017-01-06 15:42] jfly commented on #232
Upon reflection, I don't think this is worth the effort. I personally don't want to handle a bunch of people asking me about this change (and I know they will). Let's focus on getting fmc solutions uploaded to the wca website instead.

@campos20, reach out to me if you would be interested in working on that.

[2017-01-06 15:42] #232 closed

[2017-02-02 06:21] gyroninja commented on #187
Would something that looked like [this](https://i.gyazo.com/93a48e2122116025ff5007de0f559ecf.png) be good?

[2017-02-02 06:36] gyroninja commented on #217
@jfly I don't know about other browser but at least on firefox (55.1.0) https://github.com/jfly/tnoodle/blob/b18452a361679dcff9b557e1feb8119b510aa203/webscrambles/WebContent/wca/scrambleserver.js#L333 can simply be changed to
`if(json.error instanceof XMLHttpRequest) {`

I was able to test that by killing the java backend during initialization. Can we confirm it works properly in other browsers?

[2017-02-02 06:49] jfly commented on #187
The only babysitting is that the pdf/zip file generation is not instant, right?

I'd rather not change our UI at all, I think the right thing to do is to add more logic to the progress bar: we should be generating the zip/pdf asynchronously, and only presenting the scramble button to the user when we've finished that work.

[2017-02-02 07:00] jfly commented on #217
I just tried this out on Chrome, and I can tell you that `XMLHttpRequest` would not work for us there. See:

![image](https://cloud.githubusercontent.com/assets/277474/22539873/c6acf7b0-e8d1-11e6-93ef-6ac3c590869a.png)

As you can see, in Chrome, `json.error` is of type `ProgressEvent`. The type of it is really `XMLHttpRequest` in Firefox? That's unfortunate...

[2017-02-02 08:11] gyroninja commented on #217
I'll try playing around with it tomorrow. The fields on the objects look similar so maybe we can use some form of duck typing to determine if it's what we want.

[2017-02-02 23:19] lgarron commented on #187
Note that browsers may block downloads that are not triggered by an immediately preceding user gesture.

[2017-02-02 23:21] jfly commented on #187
That should be fine: with what I suggest, the download would still be triggered by the user pressing a button.

[2017-02-03 04:50] gyroninja commented on #217
New proposal for checking it is now:
`json.error.currentTarget.constructor.name === "XMLHttpRequest"`

Note that you'll probably need to check if some of those properties are defined (most notably `currentTarget`)

Firefox 50.1.0
https://i.gyazo.com/f2331bedb0f5831255100bab9ba5cdb7.png
Google Chrome 55.0.2883.87
https://i.gyazo.com/47eaabe5236644efc507cc751b6b2608.png

[2017-02-03 06:30] jfly commented on #217
Cool! I will accept a PR that changes this =)

[2017-03-24 22:05] HactarCE opened #233 "Android Project not recognizing tnoodle-android"
I have added the following in my app build.gradle dependencies, but although my project compiles I am unable to import anything from tnoodle:
[code]

[2017-03-27 03:21] starr0stealer commented on #233
The documentation should be updated on how to include this library in an Android project.

ie

[code]

[2017-03-30 03:37] jfly commented on #233
@plusCubed, could you comment on this?

[2017-03-30 03:37] jfly commented on #233
@starr0stealer, I'll gladly accept a PR adding any such documentation.

[2017-03-30 03:44] starr0stealer commented on #233
@jfly I assisted @HactarCE on the IRC channel `#android-dev` with getting the Android package included in their project, haven't used it directly myself. BUT soon as I get some spare time I will create a new Android project and isolate exactly what needs to be done in order to use the Android library.

I'll keep an eye open here to see if someone handles this before I get time.

[2017-03-30 04:42] plusCubed commented on #233
The newest version should work, the manifest problem was fixed quite a while ago:
`compile 'com.github.thewca:tnoodle:v0.11.5'`

[2017-06-01 20:36] jfly opened #235 "Scramble cutout sheet should dynamically compute font size for scramble title"
![image](https://cloud.githubusercontent.com/assets/277474/26699534/1e0420e6-46cf-11e7-8569-c2efb0764961.png)

As you can see in the photo above, the scramble title "Scrambles for 2017-04-25 - 3x3x3: Fewest Moves Round 1 Group A - Scramble 1 of 3:" doesn't fit, whereas the scramble does. That's because the scramble font size is computed dynamically in `addFmcScrambleCutoutSheet` in webscrambles/sr

[2017-06-01 20:39] jfly commented on #235
CC-ing @gyroninja, who added this feature in PR #224.

[2017-06-07 14:54] torchlight commented on #194
For 555, if we generate a scramble with ~20 double moves for a random 333 state, followed by 40 random moves (both single and double), the resulting distribution of the centre states is significantly closer to uniform than just 60 random moves. I posted [an analysis](https://www.speedsolving.com/forum/threads/5x5x5-centres-with-random-move-scrambles.64312/#post-1227796) to the SS forums a few mont

[2017-06-07 15:26] jfly commented on #194
This sounds like some very cool analysis! Anything better than what we currently have seems like something worth pursuing. Here's a list of steps I think we should go through to before making this change:

1. (Ideally) Get someone (maybe Bruce Norskog?) to verify your findings.
2. Ask members of the community to try out your proposed scrambles, and collect their feedback. This will require impleme

[2017-07-13 05:06] gyroninja commented on #235
Relevant ![regular sheet](https://i.gyazo.com/4beb33c6dc8ab7cbab49b183fe166e52.png)

[2017-07-17 12:19] pepkin88 commented on #109
Or just have a param with a font size assigned to each language, with a fallback to the default size. Should be easier to implement.

[2017-07-19 20:48] jfly commented on #109
That sounds fine to me, since the content is static =)

[2017-07-20 03:41] campos20 commented on #109
I've been thinking about something like this, with internationalization.

Selection
![1](https://user-images.githubusercontent.com/10170850/28399481-aa745f3e-6ce3-11e7-8ba5-a448b6edaec8.png)

Options
![2](https://user-images.githubusercontent.com/10170850/28399499-bcce5180-6ce3-11e7-82e0-adc137e81795.png)

The file used in internationalization should be created, or at least updated, by some native

[2017-07-20 03:47] jfly commented on #109
I'd rather generate every language every time, it's less work, and if people forget to set a language, or want to have multiple languages, we won't have any issues.

[2017-07-20 04:03] campos20 commented on #109
@jfly I'm not sure I'm following your thoughts. What do you mean by "generate every time"? The way I thought, all internationalization files should be included in tnoodle's files. The delegate sees like always, but the FMC sheet comes out in some specific language. If people forget to set language, I think English should be default. Anyways, I suppose at some point someone will have to translate.

[2017-07-20 04:05] jfly commented on #109
Rather than generating just an English sheet, we could generate the sheet in every language we support.

[2017-07-20 04:06] jfly commented on #109
By which I mean, if we support 3 languages, then we generate 3 different PDFs.

[2017-07-20 04:06] campos20 commented on #109
And the delegate just print the appropriate one. Got it now.

[2017-07-20 04:11] campos20 commented on #109
And the delegate just print the appropriate one. Got it now. It's a good idea.

Anyways, is it worth to start Internationalization, following your idea?

[2017-07-20 14:39] jfly commented on #109
Sure! If you want to work on it, go for it!

[2017-09-09 01:35] #217 closed

[2017-09-27 10:33] Mollerz commented on #190
I would prefer to leave the zeros in. Leaving them in definitely helps making sure they are right for the first couple of times one does the scramble. After one or two times doing the scramble you learn to skip the pins that are 0 anyway.

[2017-09-27 15:20] jfly commented on #190
I'm convinced! Closing this issue.

[2017-09-27 15:20] #190 closed

[2017-10-20 20:17] Julio974 opened #239 "How to customize with adding more events?"
I'm not a good programmer, but I would like to be able to add different events to it. I don't use the github version, but the WCA direct download. Here are the 5 kinds of scrambles I'd like to add to Tnoodle:
1) Add events where just the name changes (2x2 blind, 2x2 oh, pyraminx bld...)
2) Add events where the name and image change (like for dino cube, just reusing skewb scramble but with differen

[2017-10-20 20:57] Laura-O commented on #239
I am not really sure what you are asking for. If you are asking for these changes to be implemented, this will never happen as TNoodle is the official WCA scramble program and therefore it supports only the official events.

So what do you want to do with these scrambles?
If you just want to have "official" scrambles for unofficial events, the easiest way for most of your tasks is to generate the

[2017-10-20 21:06] lgarron commented on #239
I think we should qualify that. TNoodle contains a timer and other unofficial parts. As long as the official parts are still reliable and easy to use, I don't see a problem with the project supporting unofficial events.

[2017-10-20 21:55] Laura-O commented on #239
Well, OK, that wasn't very precise: I doubt someone here volunteers to add several rare unofficial events and an additional user interface (which would be necessary as the current user interface is already quite overloaded).

If @Julio974 volunteers to do that, that's fine, but as he said he is not a good programmer, so I interpreted that rather as a request, not an intention.

[2017-10-21 06:53] Julio974 commented on #239
Even if the program is easy to use and edit, I'm very bad at programming. I don't ask for these changes to be implemented, just how I can make them

[2017-10-21 07:40] Julio974 commented on #239
But I can do the coding if it's not too complicated

[2017-10-21 20:15] jfly commented on #239
That's actually not true, the timer was removed from TNoodle a while ago.

That said, I have always been supportive of adding unofficial events to TNoodle. As @Laura-O said, we're not going to be taking requests, but if someone from the community wants to add something, I would be glad to look over any PRs that people send in. @Julio974, if you're interested in sending a PR, please go for it! I am

[2017-10-21 20:15] #239 closed

[2017-10-21 21:04] Julio974 commented on #239
I'm not asking to have this added to Tnoodle! I just ask how I can code it by myself!

[2017-10-21 21:19] jfly commented on #239
That's great =) Do you have a specific question about how to get started? Are you able to `git clone` and compile TNoodle on your computer?

[2017-10-22 15:24] Julio974 commented on #239
I only downloaded the direct WCA link (https://www.worldcubeassociation.org/regulations/scrambles/), and I would just know how I can add scrambles to the version I downloaded

[2017-10-22 17:45] jfly commented on #239
You won't be able to accomplish much with the download from the wca website. Try doing a git clone to get the code locally, and then follow the instructions from our readme (in particular, https://github.com/thewca/tnoodle/blob/master/README.md#wca-scramble-program-1)

[2017-10-26 21:23] Julio974 opened #240 "How to run it?"
I'm not good at programming, and I'd like to know how to run this. How should I run the ``./tmt make run -p wca``? How can I add scrambles, change scrambles names? Thank you for any help!

[2017-10-27 19:01] jfly commented on #240
First you'll need to clone the repository (using `git clone`). After that, you should be able to run that `tmt` command you copy pasted. Do all of this inside of a bash terminal on Linux. If you're on windows, I recommend looking into the [WSL](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux). If you're on OSX, things might just work for you.

[2017-10-27 19:01] #240 closed

[2017-10-27 19:02] jfly commented on #240
Good luck! Feel free to comment on this issue if you have further questions.

[2017-10-27 22:59] jfly commented on #240
I'm not familiar with `git install` as a command. Try `git clone`? Also, could you include screenshots of what's happening?

[2017-10-28 12:32] Julio974 commented on #240
![image](https://user-images.githubusercontent.com/32576200/32134388-b823df12-bbec-11e7-83ed-ebd8e8a4be87.png)
I already used `git install https://github.com/thewca/tnoodle.git`

[2017-10-29 19:42] jfly commented on #240
I don't see anything about `git install` in that screenshot.

After you run `git clone`, you're going to need to cd into the newly created `tnoodle` directory and run `./tmt`, which is also not what you did (I see you trying to run `tmt`, not `./tmt`). However, none of this is likely to work well for you because from your screenshot it looks like you're in windows (see my comments in https://githu

[2017-10-30 07:47] Julio974 commented on #240
But what is the WSL?

[2017-10-30 19:45] jfly commented on #240
Did you read my comment here: https://github.com/thewca/tnoodle/issues/240#issuecomment-340058175 ? It provides a link to a document about the WSL.

[2017-10-31 14:12] Julio974 commented on #240
Yes, but I don't understand how to run it, how to use it...

[2017-11-05 10:17] Julio974 commented on #240
If I could get some help, it would be useful

[2017-11-05 17:08] jfly commented on #240
@Julio974, I suggest you read through a command line tutorial and then a java tutorial before trying to work on TNoodle. Unfortunately, you just need to know some of these basics before you'll be able to work on the codebase. If you have specific questions, I'm happy to answer them here, but generic questions like "I don't understand how to run it, how to use it" are very difficult for me to answe

[2017-11-10 20:51] campos20 commented on #109
I've just done a PR that I think fixes this.

Regular files remain intact, but the zip file has a new Internationalization folder, which contains a copy of FMC related sheets in every supported language.

![Uploading Captura de tela de 2017-11-10 18-09-27.png…](Regular files are still there)

![Uploading Captura de tela de 2017-11-10 18-09-32.png…](New folder with translated files)

If someone is

[2017-11-10 20:58] campos20 commented on #109
I've just done a PR that I think fixes this.

Regular files remain intact, but the zip file has a new Internationalization folder, which contains a copy of FMC related sheets in every supported language.

![captura de tela de 2017-11-10 18-09-27](https://user-images.githubusercontent.com/10170850/32678312-04e2ab88-c649-11e7-99f6-ec672714278b.png)

![captura de tela de 2017-11-10 18-09-32](https://

[2017-11-14 22:30] campos20 commented on #177
When encoding for Internationalization files were in ISO-8859-1, everything worked fine. Setting to UTF-8, this very same problem happened in FMC translation.

ISO
![captura de tela de 2017-11-14 20-27-49](https://user-images.githubusercontent.com/10170850/32808512-645d085e-c97a-11e7-86e4-b8ade8139c28.png)

UTF8
![captura de tela de 2017-11-14 20-27-55](https://user-images.githubusercontent.com/10

[2017-11-15 02:57] jfly commented on #177
@campos20, yikes! Let's continue this discussion over on #242. This issue is for non-ascii characters in the filename, whereas you're running into trouble with non-ascii characters in the pdfs.

[2017-11-25 00:09] campos20 commented on #235
It looks easy enough. For regular sheet, as pointed by @gyroninja, this has been fixed in #242. I suppose I could add this as well for cutout sheet.

[2017-11-26 18:26] campos20 commented on #235
see 1be5db3

![captura de tela de 2017-11-26 16-19-47](https://user-images.githubusercontent.com/10170850/33243052-a9efab7a-d2c5-11e7-9970-ba6c2f652a4a.png)

and

![captura de tela de 2017-11-26 16-24-23](https://user-images.githubusercontent.com/10170850/33243089-4a6e0f56-d2c6-11e7-915f-27cebca06c39.png)

[2017-12-01 19:37] #109 closed

[2017-12-01 19:37] #235 closed

[2017-12-07 09:35] VershawnTan opened #247 "generateScramble() not working"
I'm trying to build a very simple timer app with scramble, but the generateScramble() method keeps on crashing. am i doing it wrong?
The sample in the tnoodle-android doesn't work for whatever reason(don't know if it's intentionally or not)
`
    private void doScramble() {
        scrambleView.setText(R.string.scrambling);

        //problem at generateScramble()
        scrambleView.setText(cube

[2017-12-07 15:52] jfly commented on #247
What's the error you're getting?

[2017-12-08 07:49] VershawnTan commented on #247
Oh i forgotten to instantiate it. False alarm sorry.

[2017-12-08 07:49] #247 closed

[2017-12-21 20:45] jfly opened #250 "Show summary of rounds and groups on the generate scrambles page"
@FatBoyXPC asked for this after taking a look at my changes in #236. Here's what it currently looks like:

![image](https://user-images.githubusercontent.com/277474/34274221-812d22f4-e64c-11e7-8838-52f06d9bdad4.png)

James suggests something like this:

![image](https://user-images.githubusercontent.com/277474/34274237-8efa15a4-e64c-11e7-8183-9ec99f7a95ac.png)

I'm creating this issue to start a d

[2017-12-21 20:53] jfly opened #251 "Generating zip file takes a long time, and there's no progress bar"
Currently, we generate scrambles via ajax, which takes a while, but at least we give the user a nice progress bar while they wait. However, when generating the zip file, we do a fresh post to the server that takes a *while*. An improvement to this would be to do the POST in the background via ajax, and then provide the user with a download button that works instantly.

[2017-12-21 22:15] viroulep commented on #250
I couldn't help but notice the "# of copies" feature was not accessible through the new UI.

I personally don't use it but Delegates like @Baiqiang may want it to be still accessible.
Implementing this the way James suggests it would make it easy: just add an integer box next to the group and use this information to generate the scrambles :)

[2017-12-22 08:20] FatBoyXPC commented on #250
Why do we need number of copies? That can be chosen when you print them!

I like seeing the break down so I can see at a glance how many groups are being generated per round. I suppose we could instead say

Event | Round | Groups
--|--|--
3x3x3 | Round 1 | 5 Groups
3x3x3 | Round 2 | 2 Groups
3x3x3 | Round 3 | 1 Group

I tried to leave out the last 2 usages of "3x3x3" but I was unable to make the t

[2017-12-25 02:54] lgarron opened #253 "FMC Sheet: "Competitor" and "WCA ID" aren't centered."
<img width="374" alt="screen shot 2017-12-24 at 18 54 33" src="https://user-images.githubusercontent.com/248078/34331458-e5c04ec6-e8db-11e7-9e1b-d880cab47c5c.png">

[2017-12-27 21:20] jfly opened #255 "Implement a table layout for the new FMC sheet"
@lgarron introduced a table layout in #254, but it's just done with spaces right now. We want to investigate using a proper table, perhaps https://developers.itextpdf.com/examples/tables-itext5/101-very-simple-table is a good example to follow.

Examples of what we hope to achieve can be found here: https://github.com/thewca/wca-regulations/issues/456#issuecomment-320611555

[2017-12-30 21:51] jfly opened #263 "i18n string interpolation should be done with %{...} as Ruby does, rather than %s"
Something @Claster noticed while translation TNoodle to Russian:

Relevant code:

- https://github.com/thewca/tnoodle/blob/ada7835c496fa579c1392ccbc8b5d8f19889c71f/webscrambles/src/i18n/en.yml#L16
- https://github.com/thewca/tnoodle/blob/ada7835c496fa579c1392ccbc8b5d8f19889c71f/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L662

[2017-12-30 23:55] jfly opened #265 "Update outdated translations"
Here's the output of running [`./tmt i18n check`](https://travis-ci.org/thewca/tnoodle#L1603-L1757). We need to get these all fixed before releasing the next TNoodle.

[code]

[2017-12-30 23:56] jfly commented on #265
It would probably also be nice to change Travis to run this hypothetical `check-i18n` script, so we can easily determine if the translations are up to date before releasing a new TNoodle.

[2017-12-31 00:38] campos20 commented on #265
@pedrosino said he was going to do some changes in my translation and I asked him to update directly to the yml. I'll update if he is too busy to do so, close to deadline.

[2018-01-02 07:22] viroulep commented on #265
Thanks for the mention, I've updated the French translation in #270.

[2018-01-02 07:29] viroulep commented on #265
As for the compare tool, we could use some python equivalent of [this](https://github.com/thewca/worldcubeassociation.org/blob/b98cc2c82afbf8dd2c80c64c2f42efd7d809822f/WcaOnRails/app/models/locale.rb#L86-L112)!

(we can even make it simpler, as we don't need pluralization things)

[2018-01-02 07:35] jfly commented on #265
Instead of porting, how do you feel about pulling that code out into a rubygem that we could use from both TNoodle and the wca website?

[2018-01-02 07:45] viroulep commented on #265
Yeah that would definitely work, as long as we provide an entry point that satisfies both app :)
(and assuming we can easily use Ruby stuff within tnoodle without too much changes)

[2018-01-03 15:57] jfly commented on #255
@campos20, would you be interested in taking a look at this? Thanks!

[2018-01-03 16:03] campos20 commented on #255
Sure! I'll take a look.

[2018-01-03 16:10] jfly commented on #255
(assigning to myself because I cannot assign to @campos20, but he'll be working on this!)

[2018-01-04 02:21] campos20 commented on #255
English

![captura de tela de 2018-01-04 00-05-00](https://user-images.githubusercontent.com/10170850/34547572-3d9cf248-f0e3-11e7-8186-23885a00a5ad.png)

Portuguese
![captura de tela de 2018-01-04 00-04-30](https://user-images.githubusercontent.com/10170850/34547579-490889a8-f0e3-11e7-9bf5-8992c78f36b7.png)

[2018-01-04 04:58] jonatanklosko commented on #255
@campos20 could you include a screenshot for Polish (pl), please? The translation of clockwise and anti-clockwise is very long and I'd like to see how it looks =)

[2018-01-04 06:22] jfly commented on #255
@campos20, could you actually include the screenshots in your PR #273?

[2018-01-05 16:26] jfly commented on #171
It's been a few years, and we haven't had this happen again, so I'm going to optimistically close this.

[2018-01-05 16:26] #171 closed

[2018-01-05 16:28] jfly commented on #212
We have a new, React based UI in #236, so I'm going to close this issue.

[2018-01-05 16:28] #212 closed

[2018-01-05 16:29] jfly commented on #221
I agree with @Laura-O that scrambles should look at the images. I don't think it's worth the effort to change our solver so it always ends in a slash.

[2018-01-05 16:29] #221 closed

[2018-01-07 02:45] jfly commented on #265
I've started work on an external `i18n` Ruby tool here: https://github.com/thewca/wca-i18n. I basically have it working, but I still need to push to rubygems, and update TNoodle to use this new tool.

[2018-01-07 06:21] leduyquang753 opened #280 "Make the header, footer and the date format configurable"
Hi! Yesterday I have published a scramble document generated by Tnoodle-WCA for playing at school, so I gave the document to my friends, and they quickly realized that the header, footer and the date format were "odd":
* The page number that we familiar with is usually at the outer, bottom location of the page;
* The date format of ours is d/M/yyyy, so the date in the document (yyyy-MM-dd) was "co

[2018-01-07 18:07] lgarron commented on #280
I think we should avoid configuration that can result in contradictory formats.

As an alternative, how about we use the ISO 8601 yyyy-mm-dd format everywhere?

https://xkcd.com/1179/

I don't have strong opinions on where to put the page number, although i don't think it's an important enough detail to warrant a configuration option. Perhaps we should just go with what most books do?

[2018-01-07 21:58] jfly commented on #265
I added a `./tmt i18n check` command in #282.

[2018-01-07 22:14] #263 closed

[2018-01-08 12:32] leduyquang753 commented on #280
That ISO 8601 thing is not "everywhere".
And so as the page number: its most usual place in our books is in the outer, bottom. Here is an example: [Niên giám thống kê 2016 - Nông lâm ngư.pdf](https://github.com/thewca/tnoodle/files/1611489/Nien.giam.th.ng.ke.2016.-.Nong.lam.ng.pdf)
So, if you thought they were not neccesary to implement in TNoodle, it would be OK if you worked on the ability of bu

[2018-01-08 21:44] jfly commented on #280
I feel strongly about using YYYY-MM-DD everywhere, and not using any other kind of date formats.

I don't have strong opinions about where to put the page numbers, but I am not open to adding any configuration options to TNoodle, so any changes we make need to work for everyone.

@leduyquang753, I'm sorry that development on Windows doesn't work for you, I went to a lot of effort to support that i

[2018-01-08 21:44] #280 closed

[2018-01-08 22:14] lgarron commented on #280
Oh, I misread the initial report and thought it was saying that we were *not* using that. Sorry if my comments don't make sense.

[2018-01-08 22:19] jfly commented on #280
Oh, no! You read the original post correctly. We were using yyyy/mm/dd in some places. I literally just fixed that in #288 (we now use yyyy-mm-dd everywhere).

[2018-01-08 23:38] jfly commented on #253
@campos20, this would be a nice thing to take care of before the 0.13.0 release. Do you have any interest in taking a look? Thanks!

[2018-01-09 06:39] leduyquang753 commented on #280
Oh no. Now I have to learn how to operate an entire new OS. I have just installed **VirtualBox** with **Damn Small Linux**, and yeah, things have been entirely new for me since then.
------------
**_I love Windows._**

[2018-01-10 14:08] leduyquang753 opened #301 "Add "wcaid" phrase"
Hi again! Today I'm here to post another small suggestion. This time, it's about the "**WCA ID**" phrase in the FMC sheet.
In some languages, the noun phrases are inverted comparing to English. In this case, in my Vietnamese language for example, "**WCA ID**" is "**ID WCA**", and the FMC sheet should look like:
![sample](https://user-images.githubusercontent.com/26449060/34776654-31bc4da4-f64a-11e

[2018-01-10 19:25] jfly commented on #301
Please feel free to send in a PR implementing this. We won't include it in the next release of tnoodle, but maybe the one after that. Thanks!

[2018-01-11 06:23] jfly commented on #301
@leduyquang753, why did you close this issue? You're still working on this over in #302, right?

[2018-01-11 06:53] leduyquang753 commented on #301
I thought there should be only one place to work with? Because this is a request and the PR is my actual work? :confused:

[2018-01-11 06:59] jfly commented on #301
The preferred behavior is to leave an issue open until the code that fixes it has actually be merged to master. If you close the issue before the code is merged to master, it's still possible that the PR never gets merged and then the issue never actually gets fixed.

Please read through https://help.github.com/articles/closing-issues-using-keywords/, which shows a very easy way of implementing th

[2018-01-11 07:04] leduyquang753 commented on #301
Oh it blows my mind. Thanks. :sweat_smile:

[2018-01-11 13:47] campos20 opened #306 "Replace fitText function"
We have 2 fitText functions, working in different ways. It would be nice to replace the [old one](https://github.com/thewca/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L714) and some [code related](https://github.com/thewca/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L864) with the [new one](h

[2018-01-11 14:49] leduyquang753 opened #307 "Make the form's lines gray"
Hi! I saw in the FMC sheet, the form's lines is 100% black, and that can make the text written there harder to read. So I want to make these lines gray.
I am going to bundle this with **add-wca-id** pull request.
Thanks.

[2018-01-11 15:45] jfly commented on #306
How do you plan to replace splitTextToLineChunks? Did you know we use it to implement the alternate row highlighting? See https://github.com/thewca/tnoodle/blob/8bd6dcc4f409baa6697d6f46891b574460d97e1c/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L1034-L1045

[2018-01-11 16:11] campos20 commented on #306
I did not know, but this type of issue will came up when the work start. If there's to much side code depending on it, it's going to be kept. Anyways, since I started working on the table for FMC sheet, I've been considering to use a table for this highlight as well, if it slims down the code or reduce [hacks](https://github.com/thewca/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server

[2018-01-12 00:14] #255 closed

[2018-01-12 00:43] jfly opened #311 "Weird redirect with new UI"
With the new tnoodle ui, I'm seeing a weird redirect from `/` to `/scramble/&` occur:

[code]

This is an even bigger problem for the legacy scramble ui, because it redirects to a page that does not load:

[code]

I investigated a bit, and have determined that this is due to the `qsappend=true` stuff in [urlrewrite.xml](https://github.com/thewca/tnoodle/blob/master/webscrambles/WebContent/WEB-INF/

[2018-01-12 00:44] jfly commented on #204
Closing! This was fixed in #224.

[2018-01-12 00:44] #204 closed

[2018-01-12 00:44] campos20 opened #312 "Use the same font size for translations in FMC sheet"
We are fitting each cell individually, which causes some texts to be smaller than others (as [pointed](https://github.com/thewca/tnoodle/pull/273#issuecomment-357099398) by @jonatanklosko).

![fontsize](https://user-images.githubusercontent.com/10170850/34854357-6dd8ea28-f720-11e7-93b5-41ea36dddc89.png)

To fix this, we can previously compute the font sizes and pick the smaller.

[2018-01-12 00:59] campos20 commented on #312
Relevant code.

https://github.com/thewca/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L712

[2018-01-12 01:01] jfly commented on #312
I've added this to the 0.13.0 milestone for now, hopefully @campos20 can get this fixed before we release next week =)

[2018-01-12 01:03] #311 closed

[2018-01-12 01:20] campos20 opened #315 "Margin for FMC sheet rules"
As [suggested](https://github.com/campos20/tnoodle/commit/47e46f56b68a2839c17e7aa592642c3e595306a2#commitcomment-26779950) by @lgarron, we could have nice margins for rules.

![Lucas' screenshot](https://user-images.githubusercontent.com/248078/34806052-e6a2593a-f635-11e7-9ca8-4b385becf4c0.png)

[2018-01-12 01:46] campos20 commented on #315
We might have to calculate the occupied width of the last column as well, to be super picky. For now, it's [fixed](https://github.com/thewca/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.java#L672). When we ge there, some [other code](https://github.com/thewca/tnoodle/blob/master/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleRequest.j

[2018-01-12 15:24] leduyquang753 commented on #312
Hey! Can I add myself into the fun @campos20? ;D

[2018-01-12 18:07] campos20 commented on #312
It's great that we can count on you to help in the development! This part is already done in my computer, I just had to leave home before submitting. What about taking a look at some [other things](https://github.com/thewca/tnoodle/issues) to do? Welcome!

[2018-01-12 22:20] jfly commented on #250
This is not going to make it in time for `v0.13.0`, so I'm removing it from the milestone.

[2018-01-12 22:21] jfly commented on #265
As of #319, this is finally done!

[2018-01-12 22:21] #265 closed

[2018-01-13 02:16] campos20 commented on #253
Sure! Just tell me about the deadline.

[2018-01-13 05:27] #251 closed

[2018-01-13 05:29] jfly commented on #253
I'd like to send out a new beta of tnoodle for testing on Monday. Do you think you get work on this by then?

[2018-01-13 07:43] leduyquang753 commented on #315
Will that look much more ugly? :confused:

[2018-01-13 07:43] leduyquang753 commented on #253
I will work on it! :D

[2018-01-13 18:16] #312 closed

[2018-01-15 19:43] #315 closed

[2018-01-15 22:49] jfly opened #326 "Generate extra scrambles with new UI"
Currently the new UI doesn't generate any extra scrambles. We need to implement this for TNoodle 0.13.0.

[2018-01-16 00:00] jfly commented on #326
This was fixed by #328.

[2018-01-16 00:00] #326 closed

[2018-01-18 14:43] cubetastic33 opened #330 "How do I use tnoodle js?"
What function am I supposed to call to generate a scramble in tnoodle js?

[2018-01-18 14:57] FatBoyXPC commented on #330
Please see [here](https://github.com/thewca/tnoodle#wca-scramble-program-1) for how to run the program :)

[2018-01-18 15:15] cubetastic33 commented on #330
@FatBoyXPC isn't that how you're supposed to run the JAVA files? I'm talking about the JavaScript one. Also, there seems to be two tnoodle.js files! Which one should I use?

[2018-01-18 15:57] jfly commented on #330
Hey @cubetastic33, unfortunately there isn't much documentation around tnoodlejs. Your best bet is going to be to dive into the source code and start poking around. What are the two tnoodle.js files you're referring to?

[2018-01-18 16:20] cubetastic33 commented on #330
@jfly, there is one in the root directory, and one inside the tnoodlejs folder. And I don't seem to be able to understand the code, I would really appreciate it if any of you could tell me what to do! :smile:

[2018-01-18 16:25] jfly commented on #330
@cubetastic33, in the future, it would be a lot easier for other people to help you out if you include links directly to the files you're talking about.

- https://github.com/thewca/tnoodle/blob/master/tnoodlejs/src/tnoodle.js#L1-L4 is a source file, you can see some comments on the top about what happens to it when we compile it
- https://github.com/thewca/tnoodle/blob/master/tnoodle.js is the co

[2018-01-18 16:25] #330 closed

[2018-01-18 16:42] cubetastic33 commented on #330
@jfly ok, I am trying to figure this out by myself, but a relative link at https://github.com/thewca/tnoodle/blob/master/tnoodlejs/demo.html is broken on line 12: `<script src="war/tnoodlejs/tnoodlejs.nocache.js"></script>`. No such file exists!

[2018-01-18 16:54] cubetastic33 commented on #330
@jfly nvm, I just experimented, and it looks like it meant <script src="../tnoodle.js"></script>, because when I did that, it seems to work! It successfully generated this for me:
B' D B2 U R' B' D2 R' F' R' F' R2 L2 D2 F' R2 F' B2 R2
thanks a lot for your help!

[2018-01-18 16:58] jfly commented on #330
Way to go!! Could you send in a PR fixing the bug you found in the demo file?

[2018-01-18 17:01] cubetastic33 commented on #330
@jfly sure, I am already working on that!

[2018-01-18 17:14] cubetastic33 commented on #330
@jfly ok, I'll make a pr tomorrow after adding some documentation to the JavaScript version, ok?

[2018-01-18 19:33] jfly commented on #330
That sounds wonderful, thanks for taking the initiative here!

[2018-01-19 11:40] cubetastic33 commented on #330
@jfly well, I made a pull request, but it says that the Travis CI build failed, and from what I saw, it looks like there is some problem with the existing code that I didn't touch. So, please merge it if that is the case, or tell me what is wrong if that isn't the case!

[2018-01-24 17:47] jfly opened #332 "New UI doesn't generate 333mbf scrambles correctly"
Our doesn't know how to generate `333mbf` scrambles, so the frontend needs to generate a bunch of `333ni` scrambles and concatenate them with newlines. Confusingly enough, our backend does know how to render 333mbf scrambles. Relevant code here:

- https://github.com/jfly/tnoodle/blob/3bfa96b6433cbda75bd94609fadbcf26009838c3/webscrambles/WebContent/wca/scramblegen.html#L292-L301
- https://github.c

[2018-01-28 22:47] jfly commented on #332
This was fixed by #333.

[2018-01-28 22:47] #332 closed

[2018-01-30 00:09] jfly opened #335 "React ui crashes on Edge browser with URLSearchParams not defined"
See:

![image](https://user-images.githubusercontent.com/277474/35541212-88e4937a-050e-11e8-959b-d4bba5340493.png)

Can I Use says this is supported in Edge 17: https://caniuse.com/#feat=urlsearchparams, but https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8993198/ says it is fixed, but not yet flighted.

[2018-01-30 17:15] jfly opened #336 "New UI should handle errors better than just crashing with a white screen"
@viroulep and I just investigated this issue that İskender recently ran into, which caused the new ui to go completely white. The solution was as simple as updating Java, but with the legacy ui, we capture all errors and show them in a useful red dialog at the top of the page. We should probably go to that effort with the new UI.

<details>

[code]

</details>

[2018-01-31 08:53] BenRJDictus opened #337 "0.13.1 doesn't work in IE and Edge"
I tested the new TNoodle and it only works in Firefox (58)
In IE and Edge it just flashes the two buttons and then goes blank.

I have fully updated Windows 10 x64 with Java 8.161

[2018-01-31 12:16] viroulep opened #338 "Order scrambles by schedule"
Iskender commented that he could arrange the round order in the old ui to save the time needed to sort the printed sheets.
Once we'll have the schedule in the WCIF, we'll be able to add this neat feature without any additional input from the Delegate!

[2018-01-31 16:55] jfly commented on #337
I believe this is a duplicate of #335. Thanks for the report!

[2018-01-31 16:55] #337 closed

[2018-02-01 11:38] cubetastic33 opened #339 "TNoodle in python"
I want to use TNoodle in python. Is there any python version I could use? otherwise, is there any way to use the other code in python? Thanks!

[2018-02-01 16:37] jfly commented on #339
@cubetastic33, TNoodle is written in Java, so it's not possible to run it in plain python. However, it is possible to use TNoodle through Jython! You can see us doing that in our `.jy` tests: https://github.com/thewca/tnoodle/tree/master/scrambles/test.

[2018-02-01 16:37] #339 closed

[2018-02-01 16:51] cubetastic33 commented on #339
@jfly cool! But, where are these imports from?

import tntdebug

from puzzle import TwoByTwoCubePuzzle
from puzzle import NoInspectionThreeByThreeCubePuzzle
from net.gnehzr.tnoodle.scrambles import AlgorithmBuilder

How do I install those modules (if required)?

[2018-02-01 17:27] jfly commented on #339
tntdebug is here: https://github.com/thewca/tnoodle/blob/master/tntdebug.py

The other stuff is written in java. Jython let's you import java code, which is why this all works. You can find some more information about how exactly we invoke jython in this script: https://github.com/thewca/tnoodle/blob/master/jython.

[2018-02-02 01:45] cubetastic33 commented on #339
@jfly ok, but how do I execute this code? Like from my terminal? If I try jython *filename*, it obviously didn't work

[2018-02-02 01:57] jfly commented on #339
Yes, from your terminal. If you have trouble with that, I suggest looking at what Travis does to run the tests (see https://github.com/thewca/tnoodle/blob/4f8781e40f005b5dc8cc79cb99dd6991d12b2ca0/.travis.yml#L25).

[2018-02-02 01:58] cubetastic33 commented on #339
@jfly I still don't understand. What command should I use?

[2018-02-02 02:01] campos20 commented on #339
Out of curiosity, what are you trying to do? I mean, generate scrambles? Are you writing a stand alone software?

[2018-02-02 02:08] cubetastic33 commented on #339
@campos20 well, I am trying to generate scrambles on my Raspberry Pi 0 W, and show them on an lcd screen.

[2018-02-02 02:15] cubetastic33 commented on #339
@jfly when I execute the command `./tmt make check`, it is giving a lot of logs, but how do I generate scrambles from a different python file? like, what function do I use?

[2018-02-02 02:21] jfly commented on #339
@cubetastic33, I'd suggest reading our tests, it should be fairly obvious what's going on. Try taking a look at https://github.com/thewca/tnoodle/blob/master/scrambles/test/NoInspectionThreeByThreeTest.jy#L62.

[2018-02-02 02:32] cubetastic33 commented on #339
@jfly When I finished running it, this is what it said:

`BUILD FAILED

Total time: 11 mins 11.408 secs
Hit excepthook! stderr.isatty: True stdin.isatty: True stdout.isatty: True
Traceback (most recent call last):
  File "./tmt", line 1220, in <module>
    tmt._main()
  File "./tmt", line 231, in _main
    self.args.func()
  File "./tmt", line 287, in _make
    tmt._make(projectName=project.name,

[2018-02-02 02:42] jfly commented on #339
What's the "it" that you ran? Is that the entire output?

[2018-02-02 12:21] cubetastic33 commented on #339
I ran `./tmt make check`again, and I got the following result:

$ ./tmt make check
svglite is up to date, not recompiling
utils is up to date, not recompiling
web-utils is up to date, not recompiling
winstone is up to date, not recompiling
sq12phase is up to date, not recompiling
min2phase is up to date, not recompiling
threephase is up to date, not recompiling
scrambles is up to date, not recompi

[2018-02-02 14:47] cubetastic33 opened #341 "How to run the jython files?"
When I ran ./tmt make check, and I got the following result:
[code]
Also, I am not able to run the jython test files because of this...

[2018-02-02 16:16] jfly commented on #341
Two thoughts:

1. You're trying to build `tnoodle-android`, which you probably don't need for what you're doing. Running something like `./tmt make check -p webscrambles` should probably skip that.
2. There appears to be some useful error output from the command you ran, I'd suggest actually reading it and trying to follow the instructions.

3. If you really just want to generate scrambles in pyth

[2018-02-02 16:16] #341 closed

[2018-02-02 16:21] jfly commented on #339
For anyone else following along, we continued this discussion over on https://github.com/thewca/tnoodle/issues/341, for some reason...

[2018-02-02 16:56] campos20 commented on #341
I'm not very familiar with Raspberry yet, but in your place, I think I'd generate a scrambles module (like scrambles.jar) and use its output. You can call `java -jar scrambles.jar 333` and get nice 3x3x3 scrambles. The output can be used in python or whatever you want.

[2018-02-02 17:47] jfly commented on #341
@campos20, that would work, but be a lot slower than what I suggest. If you use the server, you won't have to wait for TNoodle to start up each time you want a scramble.

[2018-02-03 01:26] cubetastic33 commented on #341
@jfly well, I want my raspberry pi to work offline, so that's why I decided web scraping isn't an option. Also, what do you mean run TNoodle? The main reason I'm asking so many questions to you without figuring it out myself if because I know absolutely no java. Also, jython, too, seems to be very slow on the pi... I googled this error:
`SDK location not found. Define location with sdk.dir in the

[2018-02-03 02:34] jfly commented on #341
I'm not suggesting doing anything over the internet, nor am I suggesting doing any web scraping. Just start tnoodle on your raspberry pi and talk directly to its api.

If this doesn't make sense, I suggest that you try running tnoodle on your personal computer while you are disconnected from the internet and try to understand how it works.

[2018-02-03 11:38] cubetastic33 commented on #341
I'm sorry for this really silly question, but does "run tnoodle" mean executing `./tmt make check`? :smile:

[2018-02-03 15:37] cubetastic33 commented on #341
@jfly please tell me, until then I can't run tnoodle on my pc either!

[2018-02-03 15:54] cubetastic33 commented on #341
@jfly oh, never mind! I ran `./tmt make run -p wca`, then got yarn, then again executed the command, and after a few tries, I managed to get it working. Is this what you meant? I went to localhost:2014 as the logs in the terminal told me, and it said I needed to upgrade to the latest version, and that seems to be a java file. However, I then went to localhost:2014/readme, and found instructions fo

[2018-02-03 22:17] jfly commented on #341
Glad you figure it out! I think it would be easiest for you to just download and run the tnoodle jar file directly. Since you're not modifying tnoodle yourself, there's no reason for you to be compiling it yourself.

[2018-02-04 02:07] cubetastic33 commented on #341
@jfly Oh no, I can't get it to work on my raspberry pi. It has an ARMv6 CPU, so I think the node js version is outdated. This is the output:
[code]
Please tell me what to do!

[2018-02-04 13:58] cubetastic33 commented on #341
@jfly after looking for a while, I found some repositories with newer node js versions for the pi 0, so I managed to get node js 8.0.0 on my rpi 0 W, but tnoodle is still not running.
It comes to this screen:
[code]
And then everything gets stuck there. I tried waiting for hours, but still nothing happened. Please tell me what to do! I also tried copying the .jar file on my pc to the pi, but it ju

[2018-02-04 14:17] viroulep commented on #341
I don't get why you're still trying to *build* TNoodle when you're not going to do any change to it. There are plenty of releases available [there](https://github.com/thewca/tnoodle/releases).

I also don't get the 64 bit reference, the whole point of jar files is to contain platform independent bytecode, so talking about a possible 32/64 bit distinction for it makes no sense.

Here is what I woul

[2018-02-04 16:53] cubetastic33 commented on #341
@viroulep wow, am I an idiot. I don't know much about java, so I thought there was a difference between the 64bit and 32 bit versions. Also, I forgot that there is a jar file available at the wca website. I _also_ didn't know how to run java files. In ubuntu, I just make sure it has the necessary permissions, and then double click it. As this wasn't the case on my RPi, I didn't know what to do.

[2018-02-04 17:16] viroulep commented on #341
It depends on what you refer too: the jvm (java virtual machine), the thing that runs jar files on your computer, comes in multiple versions depending on which architecture you want to use it on (eg: 32 bit, 64 bit), because it needs to adapt to the hardware it's running on (eg: the size of memory addresses, registers, ALUs, ...).
However the java program binary (the jar file) is using java byteco

[2018-02-04 17:20] cubetastic33 commented on #341
@viroulep yeah, thanks a lot for the help! I didn't realise that is what campos meant when he said `java -jar scrambles.jar 333` Now, finally, thanks to all of you guys, I managed to generate wca scrambles on my rpi! I will tell you once I manage to get all of this working with python and showing on my lcd.

[2018-02-04 17:54] cubetastic33 commented on #341
@jfly, @viroulep, @campos20, thanks a lot guys, managed to get tnoodle scrambles on my lcd! 👍 👍 😄

[2018-02-04 17:59] jfly commented on #341
Let's see a picture!

[2018-02-04 18:10] cubetastic33 commented on #341
@jfly The backlight was too bright in the picture, so I just took another without the backlight:
![image](https://user-images.githubusercontent.com/33519300/35780658-baa8dd30-0a04-11e8-9f30-fd4c4968b107.png)

[2018-02-05 20:46] lgarron opened #345 "Release Testing"
Ideally, we would nave nice tests all over the place, and regression tests against older bugs.

In lieu of that, I've started:
- https://github.com/thewca/tnoodle/wiki/Release-Testing

That page also needs a regression test against #342. Could someone else add that?

[2018-02-10 07:59] VershawnTan opened #346 "Getting permission"
can i use the android version of tnoodle library to write a timer app to be posted on play store?

[2018-02-10 19:02] jfly commented on #346
Hey @VershawnTan! Thank you for reaching out and asking about this. You can use TNoodle's Android library for your Android application. TNoodle is licensed under the [GPL-3.0](https://github.com/thewca/tnoodle/blob/master/LICENSE), which means you must also open source the code of your Android application under the GPL-3.0 if you want to use TNoodle.

When you've started working on your applicatio

[2018-02-10 19:02] #346 closed

[2018-02-12 16:34] Felk opened #347 "Migrate to a standardized build system like maven or gradle"
I don't know the rationale behind tnoodle's custom build system, and I guess changing to another one is more trouble than it's worth, but here I go anyways:

It be very useful if tnoodle was maven- or gradle-based, allowing for easy integration into other programs. My concrete usecase is including the scramble generation as a library in another java application, where including it into the classpa

[2018-02-13 04:00] jfly commented on #347
Hey @felk. There isn't a particularly great reason why I built `tmt` instead of using maven (I'm not sure if gradle was even an option back then). I would be supportive of changing TNoodle to use gradle, but I'm not sure it's worth the effort. Just because we have our own build system doesn't mean we can't make it easy for you to to use TNoodle in another java application, though! What can we do d

[2018-02-13 04:00] #347 closed

[2018-02-15 18:36] Jambrose777 opened #348 "Setting Scramble groups to 0"
Even if you set the number of scramble groups to 0 on the events page, Tnoodle will still generate a scramble set for that group.

[2018-02-15 18:47] jfly commented on #348
Why would you set the number of scramble groups to 0 on the events page?

[2018-02-15 18:50] Jambrose777 commented on #348
I generally have another delegate generate and bring Clock scrambles to my comps.

Another /more popular/ example is if someone generates fmc scrambles early to print them and they don’t yet wish to print the rest of the competitions scrambles. But when they do, they no longer need to generate fmc scrambles with them.

[2018-02-20 00:51] jfly commented on #348
It's arguable a bug on the WCA website that you're even able to set the number of scramble groups to 0. As you can see here: https://github.com/thewca/worldcubeassociation.org/blob/9ac7258db59852ece084831cc7f0567151541db5/WcaOnRails/app/javascript/edit-events/EditEvents.jsx#L137, the intent was to not allow setting this to anything less than 1. However, the WCA website backend doesn't enforce this

[2018-02-20 00:54] Jambrose777 commented on #348
@jfly can you give other solutions, specifically for dividing the scramble generation? I posed this question last year when I decided to not generate Clock scrambles anymore and the solutions that delegates gave me was to have another delegate generate the scrambles and either bring them or password protect them and give me the zip and the organizers the password.

[2018-02-20 01:02] jfly commented on #348
@Jambrose777, I've addressed the TNoodle side of this issue over in #349. I'm not planning to make any changes to the WCA website right now, but this will allow you to set scramble groups to zero and then TNoodle won't generate any scrambles for those groups.

Unfortunately, you won't get to benefit from this change to TNoodle until we do another release, which we don't currently have a plan to do

[2018-03-11 13:43] jonatanklosko opened #352 "Remove competition name from reusable FMC sheets"
When scrambles are provided separately, delegates can reuse FMC solution sheets across competitions (thus avoiding wasting unused ones). A simple solution would be to leave some space for competition name, as in the case of *round* and *attempt* number.

![image](https://user-images.githubusercontent.com/17034772/37254125-90a177a8-253a-11e8-9965-12fc2afd82ad.png)

[2018-03-11 14:45] pedrosino commented on #352
+1

[2018-03-12 11:53] campos20 commented on #352
Interesting. I can work on that.

[2018-03-14 00:11] campos20 commented on #352
My first thought was to add "Competition: __________", but we'd have to ask translations for that.

![captura de tela de 2018-03-13 21-08-06](https://user-images.githubusercontent.com/10170850/37376401-de8cee38-2702-11e8-8d14-ea0c35d952da.png)

[2018-03-14 04:58] jonatanklosko commented on #352
Good point, also competition names can be long on their own, so keeping just the name seems better. This looks great to me =)

[2018-03-14 22:34] campos20 opened #355 "Investigate crashing behavior"
Some [users reported](https://www.facebook.com/groups/cyoubxfriends/permalink/2154052454621196/) a crashing moments after TNoodle is opened,

![crashing](https://user-images.githubusercontent.com/10170850/37434556-b5b5a984-27be-11e8-9fb4-e44e3eb56ede.png)

[2018-03-14 22:39] campos20 commented on #355
Same as #336?

[2018-03-14 23:09] jfly commented on #355
Sounds related! Thanks for looking into this.

[2018-04-06 12:06] bugybunny opened #357 "Indicator when a Sq1 scramble leaves the cubeshape on printed scrambles"
Random state Square-1 scrambles seem to always stay in cubeshape for a few slices. At least csTimer scrambles that I normally use do and I just downloaded TNoodle to test it and it was also the case. Thus, some sort of indication when the scramble leaves the cubeshape would be helpful in my opinion to reduce the number of misscrambles at competitions.  (btw I use cubeshape as synonym for Square/Sq

[2018-04-06 12:12] bugybunny commented on #357
I didn’t want to link from this issue in squanmate to this lol. Didn’t know that github does this, just wanted to let the dev know that I proposed this here, so the issue there has nothing to do with this.

[2018-04-07 20:15] jfly commented on #357
That's a very cool idea! Depending on how you want to represent this, it would require a bit of infrastructure work to implement, as the scramble generation code is pretty abstracted away from the scramble viewing code in TNoodle. I'm definitely open to looking at any PRs that try to implement this, though.

[2018-04-17 00:47] SAuroux opened #358 "Bug: FMC extra scrambles"
When using the new interface, the TNoodle 0.13.3 will always include two FMC extra scrambles into the JSON file (yet not into the PDF) for competitions with the FMC event. The main problem with this is that all of these extra scrambles end up in the database at the moment.

I am uncertain if fixing this requires a new TNoodle release, maybe rather not. But the longer this persists, the harder it w

[2018-06-02 05:06] KitClement opened #359 "Rename "Rubik's Clock" to "Clock""
This event name in the legacy interface currently does not match the name we use on the WCA website.

[2018-06-02 10:45] campos20 commented on #359
Is here the only place you have noticed it?

![captura de tela de 2018-06-02 07-44-01](https://user-images.githubusercontent.com/10170850/40873559-e3495d1a-6638-11e8-8f9c-1d2420f45a8c.png)

[2018-06-02 11:08] campos20 commented on #359
It's already change, scheduled for the next release.

[Relevant code](https://github.com/thewca/tnoodle/blob/master/scrambler-interface/WebContent/scrambler-interface/js/ui.js#L364)
[PR](https://github.com/thewca/tnoodle/commit/9fffd5ed64ae4b7a28992fffd498143348192b1b)

[2018-06-10 18:02] FatBoyXPC opened #360 "Warning for rounds with one group"
The first time I used the new workflow (Login with WCA), I had not yet changed the group information in the WCA's site / manage events page. I ended up with a single group for every round and was confused. Later, @jfly informed me what I needed to do and it made more sense!

I figure some sort of warning before generating the scrambles if every round has a single group would be a nice mechanism to

[2018-06-10 18:48] FatBoyXPC opened #361 "MBLD input"
I personally feel like the MBLD input in the Login with WCA flow does not stand out enough. Maybe I'm a bad user, but I'm so used to the legacy UI's "Filename", "Password", "Scramble!" feel that I think when I saw this mbld input I assumed it wanted a file name and I was happy with the default.

I was at a competition where a competitor attempted 29 cubes rather than the current default of 28. Thi

[2018-06-22 08:21] jfly commented on #358
Oh dear, that's definitely an oversight. This will require a new version of TNoodle to fix.

Thanks for the report, @SAuroux!

[2018-06-22 08:33] jfly commented on #358
In terms of removing these unnecessary scrambles, I ran the following query against our production database:

[code]

You can see that there are some 2014, 2015 competitions with extra scrambles for 333fm. We probably don't want to delete those scrambles.

[2018-06-22 08:47] #358 closed

[2018-08-02 15:13] Eyremba opened #364 "SecureRandom instead of Random"
As far as I have seen using the GitHub search function, TNoodle uses java.util.Random nearly everywhere, but why not SecureRandom? On the normal random, there is a chance that the generated data has some repetitive patterns over time. Also, SecureRandom should be usable without any problems because it generates enough data for TNoodle.

[2018-08-02 15:16] Eyremba commented on #198
The normal .zip format supports also AES, for example in 7zip, WinRAR, PeaZip,...

[2018-08-07 20:08] xsrvmy commented on #364
@Eyremba Actually I have been suspecting this is how the 19 FMC incident came about.

[2018-08-07 20:27] xsrvmy opened #365 "Proposal: Measures to prevent misscrambles"
This is just a proposal for several ideas that may reduce the chance for a misscramble:

- Use two slashes or some other indicator to show that a Square-1 is leaving cube shape.
- Show the intermediate state after 3x3 scrambling for 4x4.
- Show intermediate state for clock before y2 and/or highlighting the y2.
- (For reducing incidents:) Indicate that a scramble is very easy (eg. 4 moves for 2x2),

[2018-08-07 20:44] jfly commented on #364
@Eyremba, where do you see plain Random being constructed? TNoodle definitely uses SecureRandom, although it's always possible there's a bug. See https://github.com/thewca/tnoodle/blob/1907465e421362d69b7bc2b3e0acb22437d7cee6/scrambles/src/net/gnehzr/tnoodle/scrambles/ScrambleCacher.java#L18-L22.

I'm going to close this issue, feel free to re-open if you think there's a bug here.

[2018-08-07 20:44] #364 closed

[2018-08-08 07:25] Laura-O commented on #364
@xsrvmy Please stop posting this kind of suspicions.
You are obviously assuming that the delegate of the competition gave the TNoodle file to the competitor. Apart from the fact that this is the wrong place to discuss this, it's a really bad move to make up presumptions without having any background knowledge and post them publicly.

[2018-08-08 14:07] xsrvmy commented on #364
Sorry about that. I deleted the comment. We probably misunderstood each other but I agree this is not a good place to talk about sensitive topics.

[2018-08-09 20:03] Eyremba commented on #364
@jfly I meant, because in all puzzles, like for example the PyraminxPuzzle.java, it always imports the java.util.Random instead of the SecureRandom.

[2018-08-09 20:06] jfly commented on #364
SecureRandom is a subclass of Random, isn't it? Do you see a plain old Random being constructed somewhere?

[2018-08-10 04:45] #359 closed

[2018-09-17 15:39] campos20 opened #366 "Investigate possible occurrence of invalid scramble moves"
This is the scramble generated for [Spring Cube In Minsk 2018](https://www.worldcubeassociation.org/competitions/SpringCubeInMinsk2018), 333, Round 1, Group H, Scramble 4,

Since K moves are not allowed for any event, we have to investigate this. Possibilities I considered so far are:

- Error on TNoodle (less likely, since this error would be more common)
- Human error while editing JSON (in that

[2018-09-17 16:51] campos20 commented on #366
R1
['257940', 'BerkeleyWinter2016', '444', 'c', 'B', '0', '1', "R2 U' D' B2 L2 F2 L2 D' L2 B2 R D F' B L' F' B' D B' U Uw2 R1 B2 Uw2 F' B2 R U2 L' Uw2 Rw2 B' U' R' Uw' R' B Rw2 Fw L U Rw F' U'"]

FW2
['257943', 'BerkeleyWinter2016', '444', 'c', 'B', '0', '4', "B' L2 F' B2 R2 F' B' D2 U' F' R B R' L' U F L U' Rw2 Uw2 D B2 D' Rw2 U Rw2 B' U D2 B' R2 Rw' FW2 F2 D2 F' Rw Fw' Rw' F B Rw2 U'"]

2
B2 R2

[2018-09-18 23:05] Jambrose777 commented on #366
I'll look into these via WRT. My guess is that they are no fault of TNoodle, but rather delegate error.

[2018-09-22 00:37] dancing-jules commented on #365
Anyone who scrambles square-1 on a regular basis can tell you very easily when it leaves cubeshape just by looking at the scramble.

Two slashes in particular are a very bad idea - they might suggest to do undo the slash move.

[2018-09-22 00:41] dancing-jules commented on #357
IME I mostly mis-scramble during the first half of the scramble. And the (0,-2) is usually indicator enough for me to realize I leave cubehape.

[2018-09-24 15:54] SAuroux commented on #366
@campos20 Thanks for this investigation. WRT is still chasing a few delegates, but most of these are fixed by now.

Out of interest (and possibly for retesting): Would you be willing to share the code you used to find these?

[2018-09-24 17:35] campos20 commented on #366
It was some dirty code that kept adding exceptions to any new move. I checked them manually to validate, it took me about 10 min. I'm willing to write some more useful code that even matches the scramble with the event. Suggestions would be welcome.

[2018-10-07 10:48] SAuroux commented on #366
@campos20 I decided to use this opportunity to practice regular expressions and came up with a script doing per-event checks myself: https://github.com/SAuroux/wca-analysis/blob/master/results-scripts/scramble_validity_analysis/scramble_validity_check.py

In any case: thanks again for bringing this topic up!

[2018-10-07 13:57] campos20 commented on #366
@SAuroux please include a length checker. I found MBLD scrambles whose length was 4. My suggestion is to calculate the average of all lengths (avg), the standard deviation (dev) and set an alarm for those that are out of the interval [avg-3.dev, avg+3.dev]. This is based on [Shewhart](https://www.spcforexcel.com/knowledge/control-chart-basics/three-sigma-limits-control-charts)'s work.

Your code i

[2018-10-07 17:35] SAuroux commented on #366
The regular expressions already included length checks, min length checks for 3x3x3 and 4x4x4 and exact length checks for all other events where scramble length is fixed.
However, you motivated me to also include mx length checks for the 3x3x3 and 4x4x4 events, which indeed gave two new results!
I am familiar with outlier detection methods, but I am certain that fixed range checks are perfectly fi

[2018-10-07 18:16] #366 closed

[2018-10-12 19:59] Julio974-TheHexahedron commented on #365
My thoughts on this:

- Don't use 2 slashes, but maybe a pipe (`|`)? If not, leave it as it is now.
- That would need to separate the 4x4 scrambles into 2 parts. It could be done for all big cubes. For that, I'd suggest putting 2 scrambles states images, with the 1st one being intermediate (not for 6x6 and 7xè, they are too long but they can be misscrambled without too much problems)
- Intermediat

[2018-10-12 20:04] Julio974-TheHexahedron commented on #357
I proposed on the issue #365 to replace it with a pipe (`|`). Maybe an anti-slash (`\`) could also work?

[2018-10-12 20:14] Julio974-TheHexahedron opened #372 "Access the new UI without having to organize an official competition"
I'm using Tnoodle for unofficial competitions at my school for almost a year now, and I remarked (by downloading the new version of TNoodle) that the only way to generate scrambles is to use the "Legacy UI".
Could it be possible to make the "WCA" interface accessible to non-organizers?

[2018-10-12 20:39] viroulep commented on #372
I'm not sure how familiar you are with managing competitions as organizers on the WCA website, but basically the Delegates/Organizers have a page on the WCA website where they input all the information about events, rounds, formats, and groups.
The "WCA" interface of tnoodle simply generates everything at once based on these information, there is absolutely no way to adjust events/rounds in this n

[2018-10-12 20:39] #372 closed

[2018-10-12 20:44] Julio974-TheHexahedron commented on #372
By what I wrote, I mean putting the new UI on the legacy scrambler. It's just a graphic front-end issue/request (from what I know), so I don't think it should be a priority, but it could be a feature for the next release of that scramble program.

[2018-10-12 20:47] viroulep commented on #372
Oh you mean like using the same UI components we used for the new UI to rewrite the legacy UI and make it look nicer?

[2018-10-12 21:36] ronaldmansveld commented on #361
As it seems that asking the delegate is now the behaviour of TNoodle after https://github.com/thewca/tnoodle/pull/362 instead of having a default , I think we can close this ticket?

[2018-10-12 21:41] ronaldmansveld commented on #352
@campos20 I see you made changes for this issue on your fork, but there doesn't seem to be a Pull Request to merge this into TNoodle. Anything we can do to help if there's a reason for this?

[2018-10-12 23:57] xsrvmy commented on #365
@ronaldmensvald
2. The move before the first wide move?
3. Agree for this one
4. There was an incident a while ago where a good pyraminxer got a misscramble when he was supposed to get a 6 mover (1.28 scramble).

[2018-10-19 08:22] jdediegomrt opened #373 "Scrambling scape param"
Working with tnoodle android library I have found an issue.
In android library, for Android _cancel(**boolean** mayInterruptIfRunning)_ doesn't necessarily stop the execution of the scrambling process. The AsyncTask only executes onCancelled(), and won't run onPostExecute() when it completes.

for this reason if you try to cancel an scramble it wont be cancelled.

This could be solved adding a sca

[2018-10-19 16:57] campos20 commented on #352
My build is failing for some reason, so I can't really work on this until January. The code is already done, I just have to fix a few bugs (git related, I'm not really that comfortable with git). If you wanna work on this, go ahead!

[2018-10-20 17:08] jfly commented on #373
Ah, interesting! +@plusCubed to see if he has thought about this at all.

In general, there are a lot of places throughout TNoodle where we sit in a loop, CPU bound. It seems like a big pain to try to add "escape hatches" to each of them, and furthermore, to remember to add them to new places.

[2018-10-22 09:52] Julio974-TheHexahedron commented on #372
Staging server?

[2018-10-22 10:36] Julio974-TheHexahedron commented on #372
And how are we supposed to do that?

[2018-10-22 13:29] viroulep commented on #372
The readme is a bit hidden but it's [here](https://github.com/thewca/tnoodle/blob/efb21b3d5d7aa29c14502278f0a604b3014e0c08/tnoodle-ui/README.md#connecting-to-staging-wca-server).

Staging is our [unstable test server](https://staging.worldcubeassociation.org/), it has anonymized production data (date of birth are all 1954-12-04, and passwords are all "wca") and is here for us to test new features.

[2018-10-23 09:57] Julio974-TheHexahedron commented on #372
So, changing things on a competition on the staging server doesn't change anything about the true competition?

[2018-10-23 14:22] jfly commented on #372
That's correct.

On Tue, Oct 23, 2018, 02:57 Jules R <notifications@github.com> wrote:

[2018-10-24 00:18] dancing-jules commented on #365
The point where square-1 leaves cubeshape is rather easy to tell, it's the second time that one of the number is and one isn't divisible by 3 (except for the very rare case where it leaves cubeshape immediately).

Example:

(4,0) is the beginning of the scramble - 0 is divisible by 3; 4 isn't - this initial AUDF brings the puzzle into a position where cubeshape is preserved - sometimes called "ali

[2018-10-24 15:52] ronaldmansveld commented on #365
What if 4x4 starts with a wide move?

On Wed, 24 Oct 2018, 1:23 am Jeremy Fleischman, <notifications@github.com>
wrote:

[2018-10-24 17:40] campos20 commented on #365
I don't think this is very helpful. If this is trivial to program, then ok. Otherwise, a sq-1 miscramble would add perhaps 1,5 minute in a competition (10s to realize, 40 s for a slow solve, 30s to scramble again). 4x4 would take a bit longer.

[2018-10-24 20:31] xsrvmy commented on #365
The 4x4 scrambler reduces to 3x3 so that shouldn't happen.

[2018-10-24 20:32] xsrvmy commented on #365
Yeah. It's more useful on 4 just because solving a misscrambled 3x3 stages is a lot faster. Not very helpful for sq1 at all (other than avoiding parity).

[2018-10-26 21:31] suushiemaniac opened #376 "Duplicate MANIFEST.MF in "scrambles" dist"
Version: checkout from https://github.com/thewca/tnoodle/commit/9cabf7e729553fa8da3babe91c6db051eda63f89

OS: Linux Mint 18.1 / Kernel 4.15.0

Java: 1.8.0_181 OpenJDK
Python: 3.7.0 (Anaconda3)

---
Building the "scrambles" dist via the command `./tmt make dist -p scrambles` yields a jar file that contains two manifests.
Both *seem to* have the same content, but my investigation so far revealed tha

[2018-11-06 18:39] campos20 commented on #352
All done.

[2018-11-08 23:31] jfly commented on #376
I think maybe we should *also* be ignoring `.mf` files, but I think we should *also* continue to remove `.sf` files.

[2018-11-12 06:33] Baiqiang opened #379 "Add competitor number to FMC sheet"
Add a line for competitor to write down his number of the competition. This will improve score-taking in big FMC competition like FMC Asia.

[2018-11-12 18:05] campos20 commented on #379
I believe this can be asked apart of the rules. Including a new field on FMC sheet may cause confusion for small comps, where the competitor number in that competition is not important. Also, the regulations says [60 minutes to write a solution and your name](https://www.worldcubeassociation.org/regulations/#E2c). Would the competitor number count as name? Should they be written together?

[2018-11-13 03:34] Baiqiang commented on #379
@campos20 Maybe we can add this as an option and allow competitor to write it down after they submitted the solution sheet.

[2018-11-13 17:53] jfly commented on #357
(cross posting https://github.com/thewca/tnoodle/issues/365#issuecomment-432468179)

I think a newline character is all we need here, no need to invent some new notation.

[2018-11-15 08:03] jdediegomrt opened #380 "Couldn't get SecureRandomInstance"
Hi! On android library when I make a scramble I see this exception:

`11-15 08:57:35.594 24945-24945/com.jaimedediego.cubemaster E/Puzzle: Couldn't get SecureRandomInstance
    java.security.NoSuchProviderException: SUN
        at java.security.SecureRandom.getInstance(SecureRandom.java:186)
        at net.gnehzr.tnoodle.scrambles.Puzzle.getSecureRandom(Puzzle.java:124)
        at net.gnehzr.tnood

[2018-11-15 12:33] Baiqiang commented on #338
With this https://github.com/thewca/worldcubeassociation.org/pull/3018 being merged, I think we can start to think how to solve this issue.

[2018-11-19 08:43] shelchang opened #381 "Extra scramble groups"
At a recent competition, we had an incident that required an extra set of scrambles. Luckily the delegate who generated the scrambles was in the habit of manually adding an extra scramble group for all non-final rounds, and having that extra set already generated helped us resolve the incident smoothly without running behind schedule. I think this is good practice for larger competitions and it wo

[2018-11-19 20:49] lgarron opened #382 "Generate output that helps restrict scramble access"
An easy first step:

Put all the current TNoodle output in one subfolder, and make another folder called `SEND THIS FOLDER TO THE SCRAMBLE TABLES IF YOU'RE USING COMPUTERS AT A COMPETITION` (exact name TBD), with a PDF per scramble set encrypted using the same password as the main `.zip`.

A slightly fancier approach:

[2018-11-19 20:51] lgarron commented on #382
Also note: the problem of *releasing* access to scrambles is easy, but preventing scrambles from being accessible after is more difficult. I think we can mostly solve that issue having the web app version do a live check that the group is current, and insist on switching as soon as the Delegate marks the next round is ready.

Even better would be to integrate the round advancement into something t

[2018-11-19 21:05] Goosly commented on #381
You could just set the number of scramble sets on the WCA site to whatever you need + 1, right?

[2018-11-19 21:10] viroulep commented on #382
Maybe just renaming folders would work just as good for a first action.
Eg: rename "pdf" to "all_scrambles_set_pdfs", and put the big pdf in a subfolder "printable_scrambles".

This is indeed a bit fancy, and probably overkill for most competitions.
I like the idea of something appropriate to release only one scramble set at a time, operated only by the Delegate(s) (basically a friendly tool to sa

[2018-11-19 21:19] suushiemaniac commented on #382
Please do not name the nested folder anything vaguely related to "Send" like in your OP suggestion.
Sending implies unzipping, which in turn nullifies the desired effect of the encryption

[2018-11-19 21:22] lgarron commented on #382
In my suggestion, each PDF inside that folder is encrypted one more time (each by itself).

[2018-11-20 18:52] bugybunny commented on #382
How is it done now? I’m not a delegate and don’t know much about it.

TNoodle generates an encrypted .zip and PDFs are just inside this archive without any subfolder or structures and the delegate needs to open the correct scrambles by just looking at the filename?

[2018-11-23 21:31] jfly commented on #361
Sounds good to me! Somewhat confusingly, #362 was closed without merging, but we did merge up 1 of the commits from it, specifically https://github.com/thewca/tnoodle/commit/1e37cec497024cbcf2abb397ff6807635b94a630

[2018-11-23 21:31] #361 closed

[2018-12-19 20:07] bugybunny commented on #357
That’s also the case for me. I just noticed at Swiss comps that Sq1 is not really popular and we don’t have a lot of experienced and/or fast scramblers for the finals, so people that only ever scramble Sq1 at comps (might be a bit exaggerated) have to scramble. And I think it would benefit these people.

I can remember when I started with Sq1 that I almost always misscrambled and I think something

[2018-12-20 02:13] campos20 commented on #379
That numbering if after cubecomps, which is a great tool, but not an oficial tool or related to tnoodle. It doesn't feel right including on tnoodle something that is from an outside tool. I really think we should informally ask the competitors and make sure that number is visible on a list somewhere on the venue. But my biggest competition had like 100 competitors, I can't imagine what you guys go

[2018-12-30 06:01] jfly commented on #379
For the record, competitor numbers are now generated by the WCA website, and are exposed via WCIF (see `Person.registrantId` on https://docs.google.com/document/d/1hnzAZizTH0XyGkSYe-PxFL5xpKVWl_cvSdTzlT_kAs8/edit#, so I don't think we should be opposed to this because it's specific to some outside tool.

[2018-12-30 06:48] jfly commented on #380
It looks like the code first tries to do a `SecureRandom.getInstance("SHA1PRNG", "SUN")`, and then falls back to a `getInstance("SHA1PRNG")` if that fails. I think it makes sense that the SUN algorithm wouldn't exist on Android, which it sounds like is what you're using.

It looks like I added this fallback in https://github.com/thewca/tnoodle/commit/9c9469116c333dc4cae30c82e9ca0606283a7939, but d

[2018-12-30 09:05] campos20 commented on #379
OK. I can include that after finishing #377.

[2019-01-02 03:32] Baiqiang commented on #379
@campos20  I don't know what's your experience. But in China and many other countries, every competitor will get a name card with their name and number on it. So it's pretty easy for competitors to write down their numbers.

[2019-01-02 09:12] campos20 commented on #379
Sorry, I forgot about that. It's a good idea, indeed, easy to code. Since I'm doing this kind of stuff, I'm volunteering to do this.

[2019-01-04 16:20] jfly commented on #382
@bugybunny, see https://github.com/thewca/tnoodle/releases/tag/v0.14.0 for some information about how this works now.

@lgarron, I'm going to close this issue, feel free to reopen (or create a new issue) if you think there's more work to be done here.

[2019-01-04 16:20] #382 closed

[2019-01-05 16:37] campos20 commented on #355
It looks ok now, so I'm closing this.

[2019-01-05 16:37] #355 closed

[2019-01-06 14:00] campos20 commented on #253
I believe we should close this after #386

[2019-01-06 14:12] campos20 commented on #307
@leduyquang753 thanks for looking into this for us! I believe you could help in other open issues. For now, I'm suggesting this issue to be closed so we can focus on others. Thanks!

[2019-01-06 23:11] #307 closed

[2019-01-07 09:58] #306 closed

[2019-01-10 21:59] #352 closed

[2019-01-11 01:09] campos20 opened #387 "Update translations"
After #377, we need to update translations to fix the new field. Perhaps we can [use what we already have](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/config/locales/de.yml#L510) and just ask for translators to check (in case of languages based on contexts or something else).

[2019-01-11 03:09] lgarron commented on #382
Indeed. See https://www.youtube.com/watch?v=HN8O3lb-wlQ for a demo.

The PDFs use the sane file naming scheme as before. We could consider changing that, but that would require a bunch of considerations. (Feel free to file an issue for it!)

[2019-01-15 09:36] jfly commented on #253
I agree! Closing.

[2019-01-15 09:36] #253 closed

[2019-01-15 10:15] jfly commented on #338
For the record, https://docs.google.com/document/d/19rxxUyu12noNhUnWfjhz1xZecsx68IIi-HV-jPjOK38/edit has some other proposals about making TNoodle "schedule aware".

[2019-01-28 20:57] #387 closed

[2019-02-01 08:29] moralsh opened #392 "About scrambles for big cubes and megaminx"
From Ilya Tsiareshka on the Staff group

![7x7](https://user-images.githubusercontent.com/12932500/52111332-af574400-2603-11e9-9433-cc906c3c4f38.jpg)
![6x6](https://user-images.githubusercontent.com/12932500/52111333-af574400-2603-11e9-9be2-425d14c0826a.jpg)
![mega](https://user-images.githubusercontent.com/12932500/52111334-af574400-2603-11e9-91ba-8594e48d4aba.jpg)

[2019-02-01 21:05] jfly commented on #392
I agree that this doesn't feel any better than the shaded line we already have. If even the person who suggested this doesn't think it's any better, why are we even considering this?

What would this look like? I don't see an example of this in the screenshot.

[2019-02-11 23:59] pedrosino opened #394 "Make FM cutout sheet scrambles bigger"
Here's how it looks now:
![image](https://user-images.githubusercontent.com/1881933/52602047-35fff280-2e48-11e9-957a-e7a92f462941.png)

There's almost enough space for a 9th row, but I think it would be better to make the images bigger using the height available. This would probably mean splitting the scramble sequence in two lines, but that's already the case for all other events, so not a big is

[2019-02-12 00:09] campos20 commented on #394
Or we could use landscape orientation and print 6 each page.

[2019-02-19 14:41] jamesquinn1 commented on #394
I like the landscape idea, as having an fmc scramble on 2 lines would bother me/presumably others.

[2019-02-19 19:20] campos20 commented on #213
Despite I [coded this](https://github.com/thewca/tnoodle/pull/231) a while ago, I'm against it right now. FMC sheets goes to competitors and it seems an unnecessary information. All the other sheets are restrict to a few staff members and it looks necessary for them.

[2019-02-19 22:43] pedrosino commented on #394
But then we'd have less scrambles per page and probably more wasted blank space, no?

[2019-02-20 09:42] jfly commented on #213
Oh, lol wow. Yeah, I'm ok with removing it. We should have information about the version of TNoodle used from when the delegate submits scrambles, so if we ever need this information, it will be in our database anyways.

[2019-02-20 10:00] campos20 commented on #213
I'm not sure if I understood this correctly. That code was not merged, so the only left action is to close this issue ☺

[2019-02-20 10:15] jfly commented on #213
Ohh, yeah, let's close this issue, then!

[2019-02-20 10:15] #213 closed

[2019-02-24 17:47] campos20 opened #396 "Internationalize FMC cutout sheet"
Currently, cutout sheet is with a Scramble X of Y on it. Since this goes to competitors, and there are translations available for it ([here](https://github.com/thewca/tnoodle/blob/c798b44b78757bf39516516b32d06c837d256661/webscrambles/src/i18n/en.yml#L5) and [here](https://github.com/thewca/tnoodle/blob/c798b44b78757bf39516516b32d06c837d256661/webscrambles/src/i18n/en.yml#L3)), you could internatio

[2019-02-28 13:28] campos20 commented on #360
Interesting. I suppose we could render the number of rounds and groups for each one.

[2019-03-04 11:57] campos20 commented on #336
I believe this can be closed.

[2019-03-04 13:18] campos20 commented on #345
I'm (slowly) writing a code that

[x] Checks the root folder
[ ] Checks if the Printing folder has what it should
[ ] Checks if the interchange folder has what it should
[ ] Compares scrambles from _/Interchange/txt to /Interchange/{competition_name}.json_ [I'm not sure about the role of the html and jsonp yet]
[ ] Checks if scrambles from _/Printing/{competition_name} - All Scrambles.pdf_ matches

[2019-03-05 17:26] jfly commented on #336
I don't think so, @campos20. https://github.com/thewca/tnoodle/pull/378 is still unmerged, unfortunately =(

[2019-03-05 17:29] jfly commented on #345
Thanks @campos20! If you're writing a test, then I believe it belongs committed to git in this repository.

They don't need to keep existing. I don't think any software depends on them, and nobody uses the html file for viewing scrambles.

[2019-03-05 18:54] campos20 commented on #345
Then I'll finish it and upload to the TNoodle repository. I'll add
instructions on how to run tests to the Release Testing tab. Does that
sound good?

Em ter, 5 de mar de 2019 14:29, Jeremy Fleischman <notifications@github.com
escreveu:

--
*
*
*World Cube Association*https://www.worldcubeassociation.org/
<https://www.worldcubeassociation.org/>

The content of this email is
confidential and intend

[2019-03-05 19:49] jfly commented on #345
Can we make it run as part of the travis build instead?

[2019-03-05 20:20] campos20 commented on #345
Any reference on how to do that? What I wrote so far uses a bash to deploy some python3 tests.

[2019-03-14 20:54] EdHollingdale opened #397 "Generate Seperate PDFs for each attempt of FMC and Multi-Blind"
It would be good to have a different file for each attempt of FMC and Multi. If you print out multiple copies of the FMC scrambles the pages will be in order 1,2,3,1,2,3,1,2,3 instead of 1,1,1   2,2,2   3,3,3 which can lead to a higher potential of accidentally giving someone the wrong scramble. Similarly for multi where multiple copies of the scrambles are often printed, there is a higher potenti

[2019-03-23 04:49] campos20 commented on #177
I try this from time to time with some new idea, but it's a lot of chained stuff to dig in, but I think I found something perhaps useful. When I open http://localhost:2014 (let's say legacy) and save the .html to my computer, this is what I get

[code]

I tried to find where this was generated, but I got nothing yet. I believe charset should be set to utf-8.

[2019-03-24 00:39] campos20 commented on #177
This [code](https://github.com/campos20/tnoodle/blob/3e0a07e82eed7d817b3e156e7dc9588f8d3d27ca/webscrambles/src/net/gnehzr/tnoodle/server/webscrambles/ScrambleViewHandler.java#L247-L248) "fixed" encoding for PDFs, using legacy ui

[2019-03-24 15:07] campos20 opened #399 "Fix some stuff on html"
Open TNoodle and select legacy ui
Save the html to you computer
Run it against a [markup validation](https://validator.w3.org/#validate_by_upload).

You'll see that TNoodle's html have some observations to be fixed.

![Legacy](https://user-images.githubusercontent.com/10170850/54881100-1981ad80-4e2b-11e9-8140-521295865753.png)

New ui produces a similar results

![New](https://user-images.githubus

[2019-04-15 00:50] #394 closed

[2019-04-20 18:07] campos20 opened #400 "Migrate from Joda to J8 Date/Time"
Among other good new things java 8 has, we are using Joda-Time for dates, via its .jar file.
After we update to java8 and use java.time, which is the same class, as of JSR-310
We can dismiss joda-time-2.10.1.jar from /lib

[2019-04-24 18:15] #338 closed

[2019-04-24 20:08] campos20 opened #401 "Automated test"
We need a way to test integrity of TNoodle files, specially when it comes to new releases.

# Ideas

- Check if every folder has what's expected (this should consider zip generated by legacy and current UI)
- Check if the scrambles in the PDFs match the /Interchange/txt and the .json in /Interchange. This should consider all files inside /Printing (All Scrambles, Scramble Sets and Ordered Scramble

[2019-04-29 17:06] #360 closed

[2019-05-04 18:27] canibanoglu opened #403 "Code organization and plans for a js fork"
Hello,

I've been writing a cubing tool for myself and scrambles have proven to be the hairiest part of the implementation. I've been hoping to avoid what I'm suggesting but I can't see any other tool in JavaScript that generates acceptable scrambles across different puzzles.

I have looked into the generated `tnoodle.js` file but this is far from ideal and has (unnecessary) dependencies on global

[2019-05-05 18:15] campos20 commented on #403
The code do need some clean up and use a bit more standard features. We have plans of doing that in the mid-term future. Porting to js is more a long-term plan.

TNoodle started as a personal software from @jfly, perhaps he can explain the svg chose.

This Java code can generate scrambles.

[code]

[2019-05-30 07:24] suushiemaniac commented on #403
Hey @canibanoglu,
just putting this here to let you know that a Kotlin rework of the entire `scrambles` module is in the works. This will also include the ability to compile the code down to JS without the nasty `document` and `window` references that `GWT` produces.

In general, I try to migrate everything to Gradle right now, so a loooot of stuff about project structure will change in the near f

[2019-05-30 09:51] canibanoglu commented on #403
@suushiemaniac Thank you so much! I agree with you completely in that there shouldn't be two codebases striving to do the same thing.

I'm really happy to read that there is a Kotlin port going on. Is it open to public and if so do you need any help?

[2019-05-30 10:00] suushiemaniac commented on #403
We need to figure out the Grade migration first, and I expect that this will take another week or two.

Afterwards, the migration work can seriously start and then your help is very welcome :)

[2019-06-02 17:01] jfenn3883 opened #405 "Adding a Pseudo/Python Code File(s) For The Scramble Generator"
Creating a pseudo code or python file that contains **only** the actual generation of an individual scramble would be incredibly helpful for learning how the TNoodle program works. The sheer size and complexity of the TNoodle program can be a daunting task for people (like me) trying to learn how the program works and simplifying all of the code down to a simple python script that only prints the

[2019-06-02 17:48] jfenn3883 commented on #399
I (hopefully) completed this task!

[2019-06-02 18:20] jfenn3883 commented on #168
Fixed This!

[2019-06-14 00:42] lgarron opened #410 "Competition titles encoding can get mangled"
If I generate scrambles with a competition name of "FMC 2019 — San Francisco", I get `FMC 2019 â San Francisco`.

[2019-07-02 01:21] campos20 commented on #401
This will get easier with gradle #409

[2019-07-02 02:04] campos20 opened #412 "There's a login early attempt"
Run TNoodle (0.14 or 0.15), open console. The login attempt should wait until "Log in" is clicked.

![Captura de tela de 2019-07-01 23-02-47](https://user-images.githubusercontent.com/10170850/60477106-85f32080-9c54-11e9-8f81-fd6134ca7a08.png)

[2019-07-02 20:18] jonatanklosko commented on #412
Actually it's not a "Log in" attempt, but a check whether the user is signed in or not. If they are not signed in, then these two buttons appear, otherwise another screen is presented.

[2019-07-04 00:47] campos20 commented on #412
You are right! Thanks.

[2019-07-04 00:47] #412 closed

[2019-07-10 19:30] #160 closed

[2019-07-10 19:32] suushiemaniac commented on #347
FYI: I just merged https://github.com/thewca/tnoodle/pull/409, which gives you full Gradle builds. Enjoy! :D

[2019-07-10 19:34] suushiemaniac commented on #400
Am I understanding you correctly in that you'd like to migrate from Joda to J8 Date/Time?

If yes, please change the title of the issue to something more concise. Right now, it sounds as if you want to migrate all of TNoodle to J8

[2019-07-10 19:47] suushiemaniac commented on #376
Conveniently fixed this myself in #409 :innocent:

[2019-07-10 19:47] #376 closed

[2019-07-15 20:12] jfenn3883 opened #415 "Updating a README with the gradle update"
The [readme-scramble.md](https://github.com/thewca/tnoodle/blob/master/webscrambles/src/main/resources/tnoodle_resources/webapps/ROOT/wca/readme-scramble.md) file is outdated in describing how you should run tnoodle. I would either just remove this part and let the 'front' readme instruct the user on how to do this. The file [readme-tnoodle.md](https://github.com/thewca/tnoodle/blob/master/webscra

[2019-07-16 13:58] EdHollingdale opened #417 "Include Unofficial warning in all but WCA-website releases"
Name the .zip something like `[UNOFFICIAL] CompetitionId` when the version of TNoodle used is an unofficial version distributed for testing or taken from GitHub. This will avoid confusion and ensure only the official scrambles are used (although there are also a large number of further checks along the way, there is no harm in adding another one!).

[2019-07-16 14:03] EdHollingdale commented on #397
I'm just bumping this issue. A WCA Board Member from Australia who will remain anonymous made this error and I had to spend a long time reordering 180*3 FMC sheets - fortunately I was not competing in the event. I assume that this is a trivial fix and it is something that, as I said, reduces the chance for operational risk errors. Even if this is the type of mistake a delegate only makes once in t

[2019-07-16 14:23] suushiemaniac commented on #168
Closed in #416

[2019-07-16 14:23] #168 closed

[2019-07-16 14:31] suushiemaniac commented on #233
Closing this issue because support for the `aar` artifact has been discontinued.

Please use `compile 'com.github.thewca:tnoodle:v0.11.5'` as suggested by @plusCubed until we provide jar artifacts of the core TNoodle scrambling code.

[2019-07-16 14:31] #233 closed

[2019-07-16 14:35] suushiemaniac commented on #128
Releases work differently now (and the cubing/scrambler-interface repo doesn't even exist anymore) so I', closing this issue.

[2019-07-16 14:35] #128 closed

[2019-07-16 23:14] campos20 commented on #417
Sounds a great suggestion!

[2019-07-16 23:27] campos20 commented on #417
Tech: include if staging=true as well.

[2019-07-18 09:38] lgarron opened #418 "Redesign the release process with Delegates in mind."
Now that we have a UI to generate scrambles for specific competitions, I'd like to propose that we start doing the following:

- Set a date X after which all competition must switch to TNoodle version V
- At least two weeks before X (if possible), build and release version Y.
- Update https://www.worldcubeassociation.org/api/v0/scramble-program to specify that competitions taking place on or after

[2019-07-19 12:37] alexmaasswca opened #419 "tnoodle jar file size is about twice as big now"
So today I downloaded both TNoodle 14.0 and 15.0 to compare FMC scramble sheet visual differences for myself, and I noticed that 15.0 was 18.9 MB (19,921,081 bytes), whereas 14.0 was only 9.85 MB (10,336,969 bytes). Obviously 9 MB more is not really an issue, but it just seems pretty unusual for a program to double in size because of the seemingly minor updates [listed on the WCA website](https://

[2019-07-20 22:38] campos20 commented on #419
The changes listed on the website did not include technical information. Despite those were minor changes, we had a major change running on the background. 0.15 is the [first version to use Gradle](https://github.com/thewca/tnoodle/pull/409). Gradle introduced a lot of things, which explains the size difference. Before that, we used `tmt`, which is kind of a Jeremy's personal project. Using Gradle

[2019-07-20 22:43] campos20 commented on #400
@suushiemaniac before 0.15, I compiled TNoodle with java 11 and it was broke for some Windows machine. I had to compile it back with java 8. Just saying, in case that changes anything for Gradle.

[2019-07-21 15:55] campos20 commented on #418
I wonder if we could use GitHub Actions for that. Also, I did not incude any technical detail on the website post since this is not useful to the regular reader (although we have details on the [release](https://github.com/thewca/tnoodle/releases/tag/v0.15.0) here), but #419 was a valid question from someone that was paying close attention.

[2019-07-22 03:05] lgarron commented on #418
In order to take the release steps automatically? It could work, although I think I would rather focus on making these steps as easy as possible for humans to initiate (e.g. automatically archiving the TNoodle binary and updating links).

[2019-07-22 04:54] jfly commented on #419
I think it's actually worth keeping this open until we've improved this. @suushiemaniac, I'm going to assign this to you =)

[2019-07-27 23:25] campos20 commented on #250
![Captura de tela de 2019-07-27 20-22-34](https://user-images.githubusercontent.com/10170850/62000411-927c6480-b0ac-11e9-9eca-41d1b1dcb302.png)

Closing after 0.15

[2019-07-27 23:25] #250 closed

[2019-07-27 23:29] campos20 commented on #144
Related to #419

[2019-07-27 23:31] campos20 commented on #149
As https://github.com/thewca/wca-regulations/issues/60 was closed, I'm closing this as well.

[2019-07-27 23:31] #149 closed

[2019-07-27 23:45] jfly commented on #250
For the record, @campos20 implemented this in https://github.com/thewca/tnoodle/pull/402. Thanks, Alexandre!

[2019-07-28 05:39] jfly commented on #415
Sorry, what parts are outdated here?

Oh dear, yeah this could use some serious re-writing. We've got some potentially big architecture changes coming up, so maybe let's just remove it, or wait a year and then see where we are.

[2019-07-30 14:24] suushiemaniac commented on #419
Assigning this issue implies that there is a goal which we want to achieve. What is the goal here?
- Keep the JAR under X MB --> Not feasible IMO, that way we limit ourselves to certain libraries/frameworks only.
- Keep the JAR "as small as possible" --> Who defines what's possible?
- List JAR contents? Not interesting, and indirectly already done by Gradle.

Our releases are already open-source,

[2019-07-30 14:26] suushiemaniac commented on #418
In your original issue you use "version V" and "version Y", I'd assume you meant to write "V" for both. Can you please fix this?

[2019-07-30 14:28] suushiemaniac commented on #418
Also, as I understand it this boils down to "determine a fair X" and then build TNoodle accordingly. Shouldn't this be more of a Regulations-related issue?

[2019-07-30 15:10] jfly commented on #419
We have always had a policy of making "some nonzero effort" to keep the final artifact small. TNoodle is a pretty old project so the thinking here may be dated, and the thinking wasn't always documented. Some ideas: Keeping the jar small is nice for emergency edge scenarios where you're at a competition (possibly with very poor internet) and have to download a jar file to generate a scramble last

[2019-07-30 15:17] jfly commented on #418
I definitely like the idea of storing a history of "what versions of tnoodle were official when". Designed correctly I think that would even allow for scheduling changes in the future, rather than having to coordinate by carefully merging and deploying PRs at exactly the right time (as @lgarron said). While that specific change is actually a change to the wca website, it may have to carefully be c

[2019-08-14 11:36] lgarron opened #423 "Show raised clock pins in drawings"
There have been recent clock pin issues, including some scrambles with completely inverted pins. It would be nice to improve the way we show pins that are up by extending them in the drawings:

![Clock Round 1](https://user-images.githubusercontent.com/248078/63018132-f644b280-be4c-11e9-85f4-8ae45e2744a3.png)

[2019-08-14 15:51] pedrosino commented on #423
I like it!

[2019-08-15 17:56] campos20 opened #424 "Translate Registrant ID"
https://github.com/thewca/tnoodle/pull/389 introduced a new expression to translate: `Registrant ID`. This registrant ID is the number the competitor receive in that competition. So, for FMC, competitor can fill Registrant ID and whoever is in charge of results input can use that number on cubecomps. This will be useful in large competitions.

Status

- [x] da
- [x] de
- [x] en
- [x] es
- [x] et
-

[2019-08-15 18:52] JonEsparaz commented on #397
I'd also like to bump this. Regarding Multi, in situations where I only compete in Attempt 3 and help scramble for Attempts 1 and 2 (or something similar), it always feels a little sketchy having the scrambles I will be competing on in the same PDF.

[2019-08-16 01:26] campos20 commented on #379
Fixed in https://github.com/thewca/tnoodle/pull/389

[2019-08-16 01:26] #379 closed

[2019-08-16 01:43] campos20 commented on #397
I'm doing this in about 2 weeks. For now, my idea is to split files just in the encrypted files for security reasons. This way, scramblers from attempt 1 don't get to see scrambles for 2 and 3.

I don't like the idea of changing TNoodle just because of printing order like 1, 1, 1, 2, 2, 2, 3, 3, 3 instead of 1, 2, 3, 1, 2, 3, 1, 2, 3 or other printing stuff because this is already supported by phy

[2019-08-16 07:21] suushiemaniac commented on #423
@lgarron Do you have the SVG at hand that was used to generate the sample image? Then it would be quite a trivial change imo…

[2019-08-16 07:24] suushiemaniac commented on #397
@campos20 I **strongly** recommend we merge up https://github.com/thewca/tnoodle/pull/421 before you tackle this issue. It contains some changes that make handling of ZIP file contents and PDFs in general much easier.

[2019-08-16 08:48] Laura-O commented on #424
Commenting here as I do not want to re-open the other issue: will there be a version with and without registrant ID?
I'd definitely prefer to have a version *without* the Registrant ID as I am sure this will only be used at a small minority in my region and will mainly cause confusion among the competitors.

[2019-08-16 22:38] campos20 commented on #397
Good point. I'll wait, testing ktor :)

[2019-08-16 23:35] campos20 commented on #424
Well, it's not on the plans right now. Perhaps this could be left unfilled. I think generating files with and without some features could also lead to mistakes on organizers side.

Thanks!

[2019-08-18 01:54] lgarron commented on #423
Unfortunately, that's a PNG mockup!

[2019-08-18 19:28] pedrosino commented on #423
Not sure when/if I'll be able to look into this, but here is something interesting I found:

drawPin function is at https://github.com/jsgao0/Cylinder/blob/master/jquery.cylinder.js
It just draws a circle and paints with the PinUp or PinDown color.

Here's some jquery to make a cylinder: https://github.com/jsgao0/Cylinder/blob/master/jquery.cylinder.js
Sample output: http://jsbin.com/pemivaw/17/ed

[2019-08-18 19:38] jfly commented on #423
@pedrosino, FYI, the image drawing code in TNoodle is written in java, not javascript.

[2019-08-18 20:11] pedrosino commented on #423
Oh, I know :)
It was just something I found which can maybe be adapted to Java, if we need.

[2019-08-23 11:46] cubizh commented on #424
For "pt", the correct expression to use is `ID de registo`

[2019-09-15 02:57] hanwu85 commented on #424
I have [PR](https://github.com/thewca/tnoodle/pull/429) the zh-TW one.  But the travis check failed, could someone confirm if it's a real fail or a incorrect fail?
Thanks!

[2019-09-16 09:07] viroulep commented on #424
That's a real fail because your PR only brings in the zh-TW translation, where they should be brought altogether at the same time :)
We have #426 to bring all the translations in the same PR.

@campos20 could you please take the zh-TW translation from #429 and add it to #426?

[2019-09-16 16:13] campos20 commented on #424
It is expected that Travis fails until all the the translations are ready.

I'm considering accepting PRs then fixing the history later.

[2019-09-16 19:38] viroulep commented on #424
What do you mean by "fixing the history"?

[2019-09-21 18:07] campos20 commented on #424
Squash/rebase

[2019-09-21 18:25] viroulep commented on #424
Merged pull requests land in a public branch; as a consequence any operation rewriting history (such as rebase or squash) is not an option (you can read more about why it is such a bad idea [here](https://www.atlassian.com/git/tutorials/merging-vs-rebasing).
I think the tnoodle master branch is protected against non-forward push anyway :)

This is why I'd rather have created a single PR where we a

[2019-09-22 21:15] campos20 commented on #424
Thanks for pointing that out! I know it was a bad idea in big teams with a lot of commits, but this also make sense. I'm going to concentrate all the translation on #426 from now on :D

[2019-09-29 21:46] campos20 commented on #424
I just sent a ping email.

[2019-10-23 07:25] suushiemaniac opened #431 "Interchange files are not encoded as UTF-8 under certain circumstances"
cf. https://github.com/thewca/wca-live/issues/34

A Japanese Delegate reported that the `scrambles.json` was being generated in Japanese CP932 encoding. This causes trouble when using that JSON in other tools of the WCIF toolchain that rely on UTF-8 input.

I am fairly sure that this happens because TNoodle specifies no explicit encoding and relies on system defaults implicitly. We would need the

[2019-10-23 07:27] suushiemaniac commented on #431
I cordially refuse to fix this problem in the old ZIPping source code.

We should use this problem as an opportunity to put pressure on translators so that https://github.com/thewca/tnoodle/pull/426 can be merged and CI doesn't fail anymore. Then, https://github.com/thewca/tnoodle/pull/421 can be merged, simplifying ZIP and PDF generation by a ton and also making this fix trivial.

[2019-10-23 19:48] campos20 commented on #424
Sebastiano Tronto translated to it

[2019-11-02 11:27] campos20 opened #433 "Do not show Scramble Set A if there is just one set"
This is mostly for FMC, which is visible for the competitor. Removing that would lead to a cleaner view. Anyways, scrambles that scrambling person see might use that as well.

![image](https://user-images.githubusercontent.com/10170850/68070226-69720c80-fd4a-11e9-993a-74a41f4d704b.png)

![image](https://user-images.githubusercontent.com/10170850/68070239-b1912f00-fd4a-11e9-97af-dafc8507c6d4.png)

[2019-11-05 11:30] LXD312569496 opened #449 "use in Flutter"
how can i use it in Flutter？to get scramble

[2019-11-05 11:56] suushiemaniac commented on #449
Hello,

Flutter is a framework for building mobile app interfaces. You will have to define a text field and fill it with content from TNoodle.

To get a scramble string, instantiate any subclass of [`Puzzle.java`](https://github.com/thewca/tnoodle/blob/master/scrambles/src/main/java/net/gnehzr/tnoodle/scrambles/) and invoke the [`generateScrambles`](https://github.com/thewca/tnoodle/blob/master/sc

[2019-11-05 11:56] #449 closed

[2019-11-05 11:57] suushiemaniac commented on #424
Closing this issue as the [relevant PR](https://github.com/thewca/tnoodle/pull/426) has been merged

[2019-11-05 11:57] #424 closed

[2019-11-05 12:01] suushiemaniac commented on #419
ProGuard was introduced in https://github.com/thewca/tnoodle/pull/421, so once we build a new release the JAR size should not increase anymore.

[2019-11-05 12:01] #419 closed

[2019-11-10 15:44] suushiemaniac commented on #144
ProGuard was introduced in #421

[2019-11-10 15:44] #144 closed

[2019-11-11 05:55] suushiemaniac commented on #335
We will get Edge support "for free" in the next few weeks, because Microsoft is actively working on migrating their browser to the Chromium WebKit engine. There has already been a release candidate, and MS seems to be very proactive about pushing that release forward. Keep an eye on tech news and headlines for details.

[2019-12-08 00:39] campos20 opened #454 "Add All Scrambles Ordered again"
The file all scrambles ordered is missing in the current version.

Expected (as of version 0.15)

![Captura de tela de 2019-12-07 01-37-28](https://user-images.githubusercontent.com/10170850/70382384-eab85280-1939-11ea-91f6-3da250ad5931.png)

Current

![Captura de tela de 2019-12-07 01-29-42](https://user-images.githubusercontent.com/10170850/70382386-fefc4f80-1939-11ea-9276-ef581645668d.png)

[2019-12-09 22:25] UnderwaterCuber opened #457 "Update FMC sheets for 2020"
Currently FMC sheets use bracket rotations which are being removed in 2020, it would make sense to replace them with x,y,z rotations

[2019-12-15 08:52] suushiemaniac commented on #400
Fixed in #453

[2019-12-15 08:52] #400 closed

[2019-12-17 23:59] hanwu85 commented on #457
Yes that's right, Thank you.
The FMC sheets will be edited once the 2020 Regulations has been approved.

[2019-12-19 11:46] ligio90 commented on #418
Since I'm working on this I got a proposal

1. generate a big banner above the landing page stating that this version of TNoodle is either not permitted to be used from comps after date X and that this version of TNoodle is not allowed to be used at competitions anymore
2. On scramble sheets, add a note that either those scramble sheets are not to be used after date X or that those scramble sheets

[2019-12-19 20:41] ligio90 commented on #418
my ideas for this:

1. when the tnoodle version has a defined expiry date then along the text about the version it was generated with write something along the lines of "These scrambles may not be used at official WCA competitions after Date x"
2. when the tnoodle version is expired then write something along the lines of "These scrambles may not be used at any WCA competitions"
also do everything

[2019-12-29 17:14] #423 closed

[2019-12-29 20:49] #454 closed

[2019-12-29 20:50] suushiemaniac commented on #457
Fixed in #464

[2019-12-29 20:50] #457 closed

[2020-01-01 21:27] campos20 opened #471 "Fix problem with timezones"
Example

[AdelaideSummer2020](https://www.worldcubeassociation.org/competitions/AdelaideSummer2020#general-info) is a 1 day (January 11th) competition in Australia.

![Captura de tela de 2020-01-01 18-19-31](https://user-images.githubusercontent.com/10170850/71646218-466cc600-2cc3-11ea-9886-20fd7d436a5a.png)

It is expected that ordered scrambles respect that. It's timezone is Australia/Adelaide (

[2020-01-04 10:51] suushiemaniac commented on #373
The suggestion to add boolean flags like your `skipPuzzleScramble` definitely feels wrong. In general, you should try to do the heavy lifting in separate threads. You could try marking them as `daemon` which [tells the JVM to shut them down](https://docs.oracle.com/javase/8/docs/api/java/lang/Thread.html#setDaemon-boolean-) if no reference is left.

Speaking of Android, even in an `AsnycTask` impl

[2020-01-04 10:53] suushiemaniac commented on #373
We also have [a class](https://github.com/thewca/tnoodle/blob/master/scrambles/src/main/java/net/gnehzr/tnoodle/scrambles/ScrambleCacher.java) called `ScrambleCacher` in the `scrambles` module that may help you getting the job done.

[2020-01-04 10:59] suushiemaniac commented on #198
Please see #463 for an interesting finding: With the newer `zip4j` versions, switching encryption algorithms literally is a one-liner, but most native archiving programs (that are pre-installed with your OS of choice) do not support stronger AES encryption when trying to deflate the ZIP archive.

We need to reach a general consensus on whether we want to require Delegates to download and install t

[2020-01-04 11:11] suushiemaniac commented on #381
I concur with Jeremy: This is a question of competition workflow, and TNoodle should definitely **not** make any assumptions about how individual Delegates handle their individual events.

[2020-01-04 11:13] suushiemaniac commented on #345
This feels like a duplicate of #401

@campos20 Can you please try to either:
- Merge these two issues
- Explain the difference that justifies both

[2020-01-04 11:17] suushiemaniac commented on #348
Now that some time has passed, is there a consensus on how to handle this workflow?
What's the current state of the WCA website in terms of setting scramble groups to 0?

[2020-01-04 11:21] suushiemaniac commented on #211
Hrm, this sounds like a general problem with the assumption that TNoodle creates resource folders. The `0.16` releases will have this fixed as they access the resources directly from within the JAR.

However, the problem still persists for when handling pruning tables. I will eventually look into ways for Java to detect whether it may write folders or not, and then continue the program workflow ac

[2020-01-04 11:26] suushiemaniac commented on #64
We have Gradle now. ;-)

In particular, we don't track external JAR dependencies in the TNoodle `git` anymore. This means that the `itext5` dependency coordinate and the Bouncy Castle releases are responsible for shipping the right things. If stuff like this breaks again,
a) we will not be able to fix it
b) half of the Internet will burn because Bouncy Castle certificates are used in virtually eve

[2020-01-04 11:29] suushiemaniac commented on #397
Now that we have modern infrastructure, we may want to consider implementing this again.
@campos20 Do you still have the resources to work on this?

[2020-01-04 11:34] suushiemaniac commented on #392
I think that this issue is not relevant for the "everyday use" of TNoodle scrambles.
The original post states that:

which means that these suggestions were derived from a perspective of someone trying to scramble as fast as possible for the sake of achieving a fast scramble time.

I firmly believe that scramblers at cubing competitions should scramble as **accurate** as possible for the sake of a

[2020-01-04 11:34] suushiemaniac commented on #194
This sounds like a very nice and useful project. Ping @torchlight to see if you would still be interested.

[2020-01-04 11:37] suushiemaniac commented on #123
This feels like a duplicate of #194 and I'd like to close this issue. T-3 days to object :)

[2020-01-04 22:42] jfenn3883 commented on #399
That should actually fix the problem (I think).

[2020-01-07 14:00] #471 closed

[2020-01-15 09:36] suushiemaniac commented on #431
Fixed in release v0.16.2

[2020-01-15 09:36] #431 closed

[2020-01-16 02:04] campos20 commented on #397
@suushiemaniac perhaps we should wait for the new New UI? It doesn't make much since since we are not passing copies right now...

[2020-01-17 10:04] LXD312569496 opened #485 "support Dart"
Can this project support to use in dart or Flutter? Do you want to do this?

[2020-01-17 10:08] suushiemaniac commented on #485
Closed as duplicate of #449.
Please refer to my instructions on that post for details, and feel free to open another issue if a specific piece of code is not working in Flutter as expected.

[2020-01-17 10:08] #485 closed

[2020-01-17 10:14] LXD312569496 commented on #449
how I use in Flutter ，ios platform

[2020-01-17 10:17] suushiemaniac commented on #449
Please see the quote from my original response:

I do not have any experience with Flutter, so I cannot give you an example.

[2020-01-17 10:21] #64 closed

[2020-01-17 10:22] #123 closed

[2020-01-17 10:24] suushiemaniac commented on #142
I like the idea of having "cheat sheets" for notation. But especially images for alignment penalties seem way out of scope for a scrambling program.

Closing this in favor of WQAC, perhaps they want to come up with these guides some day.

[2020-01-17 10:24] #142 closed

[2020-01-19 23:29] Laura-O opened #497 "Different font size and line breaks for some extra attempts"
## Actual (problem) behavior
One set of scrambles I generated for Berlin Winter Cubing 2020 had both extra attempts written in smaller fonts and in one line.

## Expected behavior
All move sequences for one set of scrambles should have the same font size and have equal linebreaks.

## Steps To Reproduce
Generate a lot of 3x3x3 Scrambles...

## Desktop (please complete the following information):
m

[2020-01-20 07:39] suushiemaniac commented on #497
Thank you for reporting this interesting bug!

I am able to reproduce this behaviour on the current master branch by explicitly invoking the exact scrambles from the PDF you specified. We will report back to you if the cause and potential fix has been found :)

[2020-01-20 07:43] suushiemaniac commented on #497
Note to devs -- Reproduce by invoking the following API call against a locally running version:

`POST http://localhost:2014/view/Scrambles%20for%20Berlin%20Winter%20Cubing%202020.pdf`

using the following array for `sheets`:
[code]

[2020-01-20 07:49] suushiemaniac commented on #335
The Chromium-based Edge update [has been release](https://support.microsoft.com/en-us/help/4501095/download-the-new-microsoft-edge-based-on-chromium).

I will close this bug in favor of prompting people to upgrade their OS and/or browser versions.

[2020-01-20 07:49] #335 closed

[2020-01-20 07:51] suushiemaniac commented on #373
Closing this issue in favor of https://github.com/thewca/tnoodle/pull/474.

Please use the `ScrambleCacher` implementation for computation-heavy work and open a new issue if that approach somehow doesn't work out for you.

[2020-01-20 07:51] #373 closed

[2020-01-20 07:55] suushiemaniac commented on #182
Closing this issue in favor of deprecating the Legacy UI

[2020-01-20 07:55] #182 closed

[2020-01-20 08:06] suushiemaniac commented on #177
This is fixed for the PDF library and file encodings now, but interestingly the ZIP filenames can be broken under certain circumstances. Keeping this open to continue investigation

[2020-01-20 08:08] suushiemaniac commented on #410
Closing this in favor of https://github.com/thewca/tnoodle/issues/177

[2020-01-20 08:08] #410 closed

[2020-01-20 08:10] suushiemaniac commented on #381
Closing this due to inactivity

[2020-01-20 08:10] #381 closed

[2020-01-24 11:21] canibanoglu commented on #403
Are there any updates about this?

[2020-02-07 13:53] campos20 commented on #497
Fixed on #500

[2020-02-07 13:53] #497 closed

[2020-02-19 02:56] campos20 commented on #186
Hey @lgarron, do you think https://github.com/thewca/tnoodle/pull/500 also fixed this?

[2020-02-20 19:34] suushiemaniac commented on #403
Hey there! We have pulled the core scrambling code out into its own repository. Your suggestions mostly pertains to porting *that* scrambling code.

There is currently absolutely no progress to report here, because our main focus currently lies on rewriting the server+frontend part.

I'm moving this issue over to tnoodle-lib

[2020-02-20 19:35] #392 closed

[2020-02-20 19:41] suushiemaniac commented on #186
I'm not Lucas but I'm absolutely certain this was fixed in your recent PDF refactorings.

[2020-02-20 19:41] #186 closed

[2020-02-23 00:40] suushiemaniac commented on #399
Closed because legacy UI was deleted in #532

[2020-02-23 00:40] #399 closed

[2020-02-23 00:41] suushiemaniac commented on #188
Closing because `scrambler-interface` was removed in #532

[2020-02-23 00:41] #188 closed

[2020-02-23 00:42] suushiemaniac commented on #46
Closing because mootools was removed as part of #532

[2020-02-23 00:42] #46 closed

[2020-02-23 00:43] suushiemaniac commented on #177
Fixed as part of the Kotlin migrations -- strings are handled consistently as UTF-8 there and the translation files were converted accordingly.

[2020-02-23 00:43] #177 closed

[2020-02-25 11:01] suushiemaniac commented on #187
A similar workflow has been implemented in the [new WCIF-compliant UI](https://github.com/thewca/tnoodle/pull/532)

[2020-02-25 11:01] #187 closed

[2020-02-28 10:06] LXD312569496 opened #538 "run command"
How to solve this，I want to a jar to use in Android
![image](https://user-images.githubusercontent.com/20368106/75539280-f442e980-5a54-11ea-949c-72c74a9544d6.png)

[2020-02-28 11:00] suushiemaniac commented on #538
Hello,
you are getting this error because you have downloaded a standalone copy of the project. Instead, you should clone the git repository by using something along the lines of `git clone https://github.com/thewca/tnoodle.git`

If you do not want make any modifications, you can also use the pre-compiled artifacts at [Bintray](https://bintray.com/thewca/tnoodle-lib/scrambles). Assuming that your

[2020-02-28 14:20] LXD312569496 commented on #538
dependencies {
  implementation 'org.worldcubeassociation.tnoodle:lib-scrambles:0.17.0'
}
it does not work。Can you?

[2020-02-28 15:41] suushiemaniac commented on #538
Make sure that your Gradle build is linked to the correct sources as explained in the Bintray page that I linked above.

Our main repository is JCenter, available via:
[code]

If that does not work, you can try to hook directly into the Bintray release like so:
[code]

If that _still_ does not work, please provide more feedback than

Error messages, screenshots, information about your OS and Java

[2020-02-28 15:46] suushiemaniac commented on #538
I have also just updated https://github.com/thewca/tnoodle-samples/tree/master/tnoodle-android/src/main/java/net/gnehzr/tnoodle/androidsample to use the latest Bintray releases, so you can look there if you're unsure about anything.

I have confirmend that that Android build works fine without error.

[2020-02-29 13:28] LXD312569496 commented on #538
Thank you! it works !
I want to make a cross platform cube app.
And I want to know, how to use this jar into ios project?or how to use it into server

[2020-02-29 19:37] suushiemaniac commented on #538
The scrambling code is pure Java. This means it is only supported on Android.

For any other environment, you will need to create some form of API (for example, run the Java code on a web server and install a RESTful interface) that the application can access easily.

Since the original problem was solved (and iOS is definitely not my area of expertise!) I will close this issue now.

[2020-02-29 19:37] #538 closed

[2020-03-01 17:07] campos20 commented on #417
Hey @EdHollingdale, does this work for you? If so, #542 fixed this.

![Captura de tela de 2020-03-01 14-07-00](https://user-images.githubusercontent.com/10170850/75630026-f2e4fe80-5bc5-11ea-9315-f154630f8733.png)

[2020-03-01 18:54] #417 closed

[2020-03-23 20:54] campos20 commented on #401
Closing as is too general. We should focus on unit (perhaps integration) tests.

[2020-03-23 20:54] #401 closed

[2020-04-17 22:50] ligio90 commented on #397
I can work on this now.

[2020-05-14 10:05] Goosly opened #563 "Scenario to download zip with incorrect competition name"
## Actual (problem) behavior
It's quite easy to download the zip with an incorrect competition name,

## Expected behavior
The zip always has the correct competition name.

## Steps To Reproduce
1. Make sure you have at least 2 competitions. Open TNoodle in your browser.
2. Navigate to one competition. Click "generate scrambles".
3. While the scrambles are generating, navigate to your second compe

[2020-05-14 10:38] suushiemaniac commented on #563
Hey Manu, thanks for reporting! Just to make sure, the scrambles inside the "wrongly named ZIP" should be watermarked as "WCA European Championship" (ie the competition you originally selected). Correct?

[2020-05-14 10:52] Goosly commented on #563
Yes, the content of the Zip file is correct. Only the name is incorrect.

[2020-05-17 04:54] mirandapedro opened #565 "Incorrect spacing in the title of FMC sheets"
## Actual behavior

The title of FMC sheets doesn't have enough space between the lines of the name of the competition and the description of the attempt. The two lines visually conflict with each other.

## Expected behavior

The line of the description of the attempt should be lower in order not to touch the title of the competition.

## Steps To Reproduce
1. Launch TNoodle;
2. Generate an FMC s

[2020-05-21 05:44] xsrvmy opened #567 "Flitering for duplicates"
There was a post in CF today asking about repeated 2x2 scrambles, and someone found a duplicate 2x2 scramble within the same comp. This should probably be filtered out.

Scrambles ending in the same state but in a different orientation should be considered duplicates. However, whether a scramble that is the same as another scramble applied to a different starting orientation is a dupliate needs to

[2020-05-21 14:24] suushiemaniac commented on #567
Moving to tnoodle-lib

[2020-05-23 16:26] campos20 commented on #565
@mirandapedro could you please include a screenshot?

[2020-05-23 16:32] mirandapedro commented on #565
It's on the link on the original post (or (here)[https://m.imgur.com/D1rEDfn]).

I don't how to post the image here on GitHub, though 😅.

[2020-05-23 17:39] campos20 commented on #565
Drag and drop should work :)

[2020-05-23 17:58] campos20 commented on #565
This one should be pretty quick and I'm linking relevant code. We use a function to display blocks of texts fitting width and height. Texts are added to a list and then it's rendered. One quick solution would be [add an empty phrase between the lines](https://github.com/thewca/tnoodle/blob/6ccc25c0bcbd44e2bc90897ad0be0c6afe51f57b/webscrambles/src/main/kotlin/org/worldcubeassociation/tnoodle/server

[2020-05-25 05:05] campos20 commented on #563
Fixed

[2020-05-25 05:05] #563 closed

[2020-05-29 22:44] campos20 commented on #565
@mirandapedro this' been fixed. Merging if you agree

![image](https://user-images.githubusercontent.com/10170850/83311164-c51f4e00-a1e4-11ea-862b-9fedb5424dd7.png)

[2020-05-29 22:56] campos20 commented on #397
@EdHollingdale could you please try the new version? It supports copies.

[2020-05-30 09:31] EdHollingdale commented on #397
I generated some scrambles using RC2 (everything worked fine and I love the new UI) but the scrambles for printing (and for computer display) had all fmc attemps and multi attempts in the same pdf when I went to open it. Particuarly for multi on computer display, the attempts should be different files for scramble secrecy as Jon mentioned, and I feel the /Printing/Scramble Sets should have them as

[2020-05-31 20:01] mirandapedro commented on #565
Looks good!! Go ahead with merging.

Thanks for fixing this!

[2020-05-31 20:03] #565 closed

[2020-06-09 14:37] suushiemaniac commented on #433
Resolved by https://github.com/thewca/tnoodle/pull/578

woop woop first contribution by @Shadowjockey :tada:

[2020-06-09 14:37] #433 closed

[2020-06-09 16:01] #397 closed

[2020-06-09 17:44] #396 closed

[2020-06-11 13:23] suushiemaniac commented on #336
"did not hear about" does not seem like a reasonable approach at closing a fundamental issue like this.

Either you can state precisely why it is not applicable to the new UI anymore, or you give proof how the new UI handles generic errors better than crashing with a white screen ;)

[2020-07-02 09:40] suushiemaniac opened #584 "Improve UI colo(u)rs"
partial copy/paste from an email by Manu on the release testing thread: